{% extends 'templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Add Problem Specification</h1>
        </div>
        <div class="card-body">
            <form id="PostForm" action="{% url 'edit_problem_specification' problem_specification_data.id %}" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="specialtySelect" class="col-md-2 col-form-label">Organ Problem Name</label>
                    <div class="col-md-10">
                        <select class="form-control select2" id="specialtySelect" name="organ_problem">
                            {% for item in organ_problem_data %}
                            {% if item.name == problem_specification_data.organ_problem_name %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <hr>
                <!-- Add form fields here -->
                <div class="row mb-3">
                    <label for="specificationId" class="col-md-2 col-form-label">Specification</label>
                    <div class="col-md-10">
                        <input type="text" value="{{ problem_specification_data.specification}}" class="form-control" id="specificationId" name="specification"/>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="descriptionId" class="col-md-2 col-form-label">Description</label>
                    <div class="col-md-10">
                        <textarea name="description" id="descriptionId" type="text" class="form-control" cols="30"
                                  rows="10">{{ problem_specification_data.description}}</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-sm btn-success float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}