{% extends 'templates/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="page-head">
        <h1 class="my-2 p_print">Add Organ Problem Form</h1>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <form id="PostForm" action="{% url 'add_organ_problem' %}">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="specialtySelect" class="col-md-2 col-form-label">Organ Name</label>
                    <div class="col-md-10">
                        <select class="form-control select2" id="specialtySelect" name="organ">
                            <option selected>Select Organ Name</option>
                            {% for item in api_data %}
                            <option value="{{ item.value }}">{{ item.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <hr>
                <!-- Add form fields here -->
                <div class="row mb-3">
                    <label for="organProblemNameId" class="col-md-2 col-form-label">Organ Problem Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="organProblemNameId" name="name" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="descriptionId" class="col-md-2 col-form-label">Description</label>
                    <div class="col-md-10">
                        <textarea name="description" id="descriptionId" type="text" class="form-control" cols="30"
                            rows="10"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-sm btn-success float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    fetch('/api/organs/list/')  // Replace with your API endpoint URL
        .then(response => response.json())
        .then(data => {
            const selectElement = document.getElementById('specialtySelect');
            data.forEach(item => {
                const option = document.createElement('option');
                option.value = item.id;
                option.textContent = item.name;
                selectElement.appendChild(option);
            });
        })
        .catch(error => {
            console.error('Error:', error);
        });

    document.getElementById('PostForm').addEventListener('submit', function (event) {
        event.preventDefault(); // Prevent the form from submitting normally
        // Get form data
        const formData = new FormData(event.target);
        const postData = {};
        for (const [key, value] of formData.entries()) {
            postData[key] = value;
        }

        // Make API call to create doctor post
        fetch('/api/add/organ/problem/', {
            method: 'POST',
            body: JSON.stringify(postData),
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if (data.status === 200) {
                    // Show success message
                    console.log('Success:', data.message);
                    Swal.fire({
                        title: 'Add Organ Problem!',
                        text: 'Organ Problem Insert Insert Successfully',
                        icon: 'success',
                        confirmButtonText: 'OK'
                    });
                    // Clear form fields or show a success message to the user
                    document.getElementById('PostForm').reset();
                } else {
                    // Show error message
                    console.log('Error:', data.message);
                    Swal.fire({
                        title: 'Add Organ Problem!',
                        text: 'Organ Problem Insert Insert Failed',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                    // Display the error message to the user
                }
            })
            .catch(error => {
                console.error('Error:', error);
                // Display the error message to the user
            });
    });
</script>
{% endblock %}