{% extends 'landing_layout.html' %}
{% load static %}

{% block styles %}
<style>
    #doctors {
        background: url("{% static 'landing_assets/img/hero-bg.png' %}") center center no-repeat;
    }
    .article-text {
        text-align: justify;
    }
</style>
{% endblock %}

{% block content %}
<!-- ======= Articles Section ======= -->
<section id="doctors" class="doctors">
    <div class="container-fluid pt-3">
        <div class="row">
            <div class="col-md-4 col-sm-12 mt-3 text-center">
                <img src="{{ all_data.image }}" alt="Article Image" height="500px" width="100%">
            </div>
            <div class="col-8 mt-3">
                <h5><strong>{{ all_data.heading }}</strong></h5>
                <h6><strong>Tag : {{ all_data.tag }}</strong></h6>
                <p class="article-text">{{ all_data.description }}</p>
            </div>
        </div>
    </div>
</section>
<!-- End Articles Section -->
{% endblock %}

{% block scripts %}
{% endblock %}