{% extends 'landing_layout.html' %}
{% load static %}

{% block styles %}
<style>
    #hero {
        background: url("{% static 'landing_assets/img/hero-bg.png' %}") center center no-repeat;
    }
    .department-text {
        text-align: justify;
    }
</style>
{% endblock %}

{% block hero %}
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1 class="mt-4">Personalized Doctor Predictor</h1>
                <h2>Awesome to see you here!</h2>
                <h2 id="subtitleID" style="height: 60px;"></h2>
                <a href="{% url 'predict_form' %}" class="btn-get-started scrollto">Predict Now <i
                        class="fas fa-arrow-right"></i></a>
            </div>
            <div class="col-md-5">
                <img src="{% static 'landing_assets/img/introduction.png' %}" style="width: 100%; height: 400px;">
            </div>
        </div>
    </div>
</section><!-- End Hero -->
{% endblock %}

{% block content %}
<!-- ======= Why Us Section ======= -->
<section id="why-us" class="why-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex align-items-stretch">
                <div class="content">
                    <h3>Why Choose Doctor Book?</h3>
                    <p class="department-text">At DoctorBook, we understand the importance of finding the right
                        healthcare professional to address your unique needs. Our platform goes beyond just connecting
                        patients with doctors; it's a personalized and efficient solution designed to enhance your
                        healthcare experience.</p>
                    <div class="text-center">
                        <a href="#" class="more-btn">Learn More <i class="bx bx-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 d-flex align-items-stretch">
                <div class="icon-boxes d-flex flex-column justify-content-center">
                    <div class="row">
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-receipt"></i>
                                <h4>Easy Navigation</h4>
                                <p class="department-text">DoctorBook features an intuitive and user-friendly interface.
                                    Navigating the platform is a breeze, allowing you to effortlessly search for
                                    doctors, book appointments, and access vital health information without any
                                    unnecessary complexities.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-cube-alt"></i>
                                <h4>Reliable and Credible Content</h4>
                                <p class="department-text">DoctorBook's cutting-edge algorithms analyze your health
                                    history and preferences, providing personalized doctor recommendations. This
                                    tailored approach ensures that the match goes beyond specialties, incorporating
                                    compatibility factors for a more reliable healthcare experience.</p>
                            </div>
                        </div>
                        <div class="col-xl-4 d-flex align-items-stretch">
                            <div class="icon-box mt-4 mt-xl-0">
                                <i class="bx bx-images"></i>
                                <h4>Patient Resources:</h4>
                                <p class="department-text">Embrace an convenience of the modern technology without
                                    compromising on security.DoctorBook ensures that your data is handled with the
                                    utmost
                                    confidentiality and security.
                                    Join DoctorBook today and experience a new era of healthcare where finding the right
                                    doctor is as simple as a few clicks.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End .content -->
            </div>
        </div>
    </div>
</section>
<!-- End Why Us Section -->

<!-- ======= Counts Section ======= -->
<section id="counts" class="counts">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="far fa-hospital"></i>
                    <span>{{department_data.department_count}}</span>
                    <p>Departments</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="count-box">
                    <i class="fas fa-user-md"></i>
                    <span>{{doctor_data.doctor_count}}</span>
                    <p>Doctors</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="fas fa-user-injured"></i>
                    <span>{{patient_data.patient_count}}</span>
                    <p>Patients</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                    <i class="fas fa-award"></i>
                    <span>10</span>
                    <p>Awards</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Counts Section -->

<!-- ======= Departments Section ======= -->
<section id="departments" class="departments">
    <div class="container">
        <div class="section-title">
            <h2>Departments</h2>
            <p>Hospitals may have acute services such as an emergency department or specialist trauma center, burn unit,
                surgery, or urgent care. These may be backed up by more specialist units such as cardiology or coronary
                care, intensive care units, neurology, cancer center, and obstetrics and gynecology.</p>
        </div>

        <div class="row gy-4">
            <div class="col-lg-3">
                {% if all_department_data %}
                <ul class="nav nav-tabs flex-column">
                    {% for data in all_department_data %}
                    <li class="nav-item">
                        <a class="nav-link {% if forloop.first %}active show{% endif %}" data-bs-toggle="tab"
                           href="#tab-{{ forloop.counter }}">{{ data.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-9">
                <div class="tab-content">
                    {% for data in all_department_data %}
                    <div class="tab-pane {% if forloop.first %}active show{% endif %}" id="tab-{{ forloop.counter }}">
                        <div class="row gy-4">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3>{{ data.name }}</h3>
                                <p class="fst-italic department-text">{{ data.description }}</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="{{ data.image }}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% else %}
            <div class="row alert alert-warning">
                <h3>No Department Found</h3>
            </div>
            {% endif %}
        </div>
    </div>
</section>


<!-- End Departments Section -->
{% endblock %}

{% block scripts %}
<!-- TypeIt Plugin -->
<script src="{% static 'landing_assets/js/typeit-8.2.0/package/dist/index.umd.js' %}"></script>
<script>
    new TypeIt('#subtitleID', {
        strings: "Get amazing predictions of expert doctors based on your problem specification.",
        speed: 60,
        waitUntilVisible: true,
        loop: true
    }).go();
</script>
{% endblock %}