# Pycache ignored
adminpanel/ajax/__pycache__/

adminpanel/article/__pycache__/
adminpanel/article/migrations/__pycache__/

adminpanel/bodypart/__pycache__/
adminpanel/bodypart/migrations/__pycache__/

adminpanel/basemodel/__pycache__/
adminpanel/constants/__pycache__/

adminpanel/dashboard/__pycache__/

adminpanel/department/__pycache__/
adminpanel/department/migrations/__pycache__/

adminpanel/department_speci/__pycache__/
adminpanel/department_speci/migrations/__pycache__/

adminpanel/doctor/__pycache__/
adminpanel/doctor/migrations/__pycache__/

adminpanel/faq/__pycache__/
adminpanel/faq/migrations/__pycache__/

adminpanel/medicine/__pycache__/
adminpanel/medicine/migrations/__pycache__/

adminpanel/organ/__pycache__/
adminpanel/organ/migrations/__pycache__/

adminpanel/organ_problem_speci/__pycache__/
adminpanel/organ_problem_speci/migrations/__pycache__/

adminpanel/patient/__pycache__/
adminpanel/patient/migrations/__pycache__/

adminpanel/personal_data/__pycache__/
adminpanel/personal_data/migrations/__pycache__/

adminpanel/prescription/__pycache__/
adminpanel/prescription/migrations/__pycache__/

adminpanel/urls/__pycache__/

adminpanel/authentication/user/__pycache__/
adminpanel/authentication/user/migrations/__pycache__/
adminpanel/authentication/login/__pycache__/
adminpanel/authentication/logout/__pycache__/
adminpanel/authentication/registration/__pycache__/

adminpanel/authentication/otp/funtion/__pycache__/

adminpanel/authentication/otp/verifyotp/__pycache__/
adminpanel/authentication/otp/verifyotp/migrations/__pycache__/

adminpanel/authentication/otp/resendotp/__pycache__/
adminpanel/authentication/otp/resendotp/migrations/__pycache__/

adminpanel/authentication/otp/resendotp/__pycache__/
adminpanel/authentication/otp/resendotp/migrations/__pycache__/

adminpanel/authentication/otp/resetpassword/__pycache__/
adminpanel/authentication/otp/resetpassword/migrations/__pycache__/

landing/__pycache__/
landing/landing/__pycache__/

landing/appointment/__pycache__/
landing/prediction/migrations/__pycache__/

landing/prediction/__pycache__/
landing/prediction/migrations/__pycache__/

media/

# vs code folder ignored
/.vscode/
virtual_env
venv