# Pycache ignored
api/__pycache__/
backend/__pycache__/
adminpanel/ajax/__pycache__/
adminpanel/article/__pycache__/
adminpanel/bodypart/__pycache__/
adminpanel/organ/__pycache__/
adminpanel/organ_problem_speci/__pycache__/
adminpanel/department/__pycache__/
adminpanel/department_speci/__pycache__/
adminpanel/dashboard/__pycache__/
adminpanel/doctor/__pycache__/
adminpanel/faq/__pycache__/
adminpanel/patient/__pycache__/
adminpanel/personal_data/__pycache__/
adminpanel/authentication/user/__pycache__/
adminpanel/authentication/login/__pycache__/
adminpanel/authentication/logout/__pycache__/
adminpanel/authentication/registration/__pycache__/
adminpanel/authentication/otp/verifyotp/__pycache__/
adminpanel/authentication/otp/resendotp/__pycache__/
adminpanel/authentication/otp/resetpassword/__pycache__/

landing/landing/__pycache__/
landing/prediction/__pycache__/
static/uploads/

# vs code folder ignored
/.vscode/
virtual_env
venv