{% extends 'templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Edit Body Part Info</h1>
        </div>
        <div class="card-body">
            <form id="PostForm" action="{% url 'edit_faq' faq_data.id %}" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="questionId" class="col-md-2 col-form-label">Question</label>
                    <div class="col-md-10">
                        <input type="text" value="{{ faq_data.question }}" class="form-control" id="questionId" name="question" />
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="answerId" class="col-md-2 col-form-label">Answer</label>
                    <div class="col-md-10">
                        <textarea name="answer" id="answerId" class="form-control" cols="30" rows="10">{{ faq_data.answer }}</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning float-right">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
