{% load static %}
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">{{ request.session.user_role }} Panel</li>
            <!-- Dashboard -->
            <li class="nav-item mainItem">
                <a href="{% url 'patient_dashboard' %}" class="nav-link">
                    <i class="nav-icon fas fa-align-justify"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <!-- My Profile -->

            <!-- Prediction History -->
            <li class="nav-item mainItem">
                <a href="{% url 'patient_predict_form' %}" class="nav-link">
                    <i class="nav-icon fas fa-history"></i>
                    <p>
                        Prediction
                    </p>
                </a>
            </li>
            <!-- Doctor's List -->
            <li class="nav-item mainItem">
                <a href="{% url 'find_doctors' %}" class="nav-link">
                    <i class="nav-icon fas fa-user-md"></i>
                    <p>
                        Find Doctors
                    </p>
                </a>
            </li>
            <li class="nav-item mainItem">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-settings-md"></i>
                    <p>
                        Settings
                    </p>
                </a>
            </li>
        </ul>
    </nav>
</div>