{% extends 'templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Add Department</h1>
        </div>
        <div class="card-body">
            <form id="PostForm" action="{% url 'store_department' %}" method="POST" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="departmentNameID" class="col-md-2 col-form-label">Department Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="departmentNameID" name="name"/>
                        <div id="nameError" class="error-message"></div><!-- Error message container -->
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="descriptionID" class="col-md-2 col-form-label">Description</label>
                    <div class="col-md-10">
                        <textarea name="description" id="descriptionID" type="text" class="form-control" cols="30"
                                  rows="2">{{ data.description|default:"N/A" }}</textarea>
                        <div id="descriptionError" class="error-message"></div> <!-- Error message container -->
                    </div>
                </div>
                <button type="submit" class="btn btn-success float-right">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% block styles %}
<style>
.error-message {
    color: #dc3545; /* Red color for danger state */
}

</style>
{% endblock %}

{% block scripts %}
<script>
function validateForm() {
    // Clear previous error messages
    clearErrorMessages();

    // Get the values entered by the user
    var name = document.getElementById("departmentNameID").value;
    var description = document.getElementById("descriptionID").value;

    // Track if any validation errors occur
    var hasErrors = false;

    // Perform validation checks
    if (name.trim() === "") {
        displayErrorMessage("nameError", "Please enter a Department name.");
        hasErrors = true;
    }

    if (description.trim() === "") {
        displayErrorMessage("descriptionError", "Please enter a description.");
        hasErrors = true;
    }

    // Prevent form submission if errors occurred
    if (hasErrors) {
        return false;
    }

    // All validation checks passed
    return true;
}

function displayErrorMessage(elementId, message) {
    var errorElement = document.getElementById(elementId);
    errorElement.innerHTML = message;
}

function clearErrorMessages() {
    var errorElements = document.getElementsByClassName("error-message");
    for (var i = 0; i < errorElements.length; i++) {
        errorElements[i].innerHTML = "";
    }
}
</script>
{% endblock %}
