{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <form action="{% url 'edit_doctor' doctor_id %}" enctype="multipart/form-data" id="PostForm" method="POST">
        {% csrf_token %}
        <div class="card">
            <div class="card-header bg-dark">
                <h1 class="card-title">Doctor Information</h1>
                <h1 class="card-title float-right">
                    <a href="{% url 'view_doctor_data' doctor_id %}"
                       class="nav-link btn btn-info float-right"
                       type="submit">Back View</a>
                </h1>
            </div>
            <div class="card-body">
                {% for doctor_data in doctor_all_data %}
                <div class="row">
                    <div class="col-md-8">
                        <div class="row mb-3">
                            <label class="col-md-3 col-form-label" for="DoctorID">Full Name : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" id="DoctorID"
                                       value="{{ doctor_data.full_name }}" name="full_name" required/>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-3 col-form-label" for="fatherNameID">Father Name : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" id="fatherNameID"
                                       value="{{ doctor_data.father_name }}" name="father_name" required/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-3 col-form-label" for="motherNameID">Mother Name : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" id="motherNameID"
                                       value="{{ doctor_data.mother_name }}" name="mother_name" required/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-3 col-form-label" for="dateOfBirthID">Date of Birth : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" type="date" id="dateOfBirthID"
                                       value="{{ doctor_data.date_of_birth }}" name="date_of_birth" required/>
                            </div>
                        </div>
                        <!-- Phone Number -->
                        <div class="row mb-3">
                            <label class="col-md-3 col-form-label" for="phoneNoID">Phone Number : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" value="{{ doctor_data.phone_no }}"
                                       id="phoneNoID" name="phone_no" required/>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <input class="form-control mb-3" id="imageID" name="photo_name"
                                       onchange="previewImage(event)" type="file"/>
                                {% if doctor_data.images.0.photo_name %}
                                <img alt="Doctor Image" id="preview" src="{{ doctor_data.images.0.photo_name }}"
                                     style="width: 100%; height: 280px;">
                                {% else %}
                                <img alt="Doctor Image" id="preview" src="{% static 'adminlte_assets/img/nobody.png' %}"
                                     style="width: 100%; height: 280px;">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <legend class="text-info"><i class="far fa-address-card"></i> Personal Information</legend>
                    </div>
                </div>
                <hr>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="genderID">Gender :<span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="genderID" name="gender" required>
                            <option selected>Select Gender</option>
                            {% for item in gender_data %}
                            {% if item.name == doctor_data.gender %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <label class="col-md-2 col-form-label" for="religionID">Religion :<span class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="religionID" name="religion" required>
                            <option selected>Select Religion</option>
                            {% for item in religion_data %}
                            {% if item.name == doctor_data.religion %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="bloodGroupID">Blood Group : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="bloodGroupID" name="blood_group" required>
                            <option selected>Select Blood Group</option>
                            {% for item in blood_group_data %}
                            {% if item.name == doctor_data.blood_group %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <label class="col-md-2 col-form-label" for="matrimonyID">Matrimony Status : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="matrimonyID" name="matrimony" required>
                            <option selected>Select Matrimony</option>
                            {% for item in matrimony_data %}
                            {% if item.name == doctor_data.matrimony %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="nidNOID">NID No: <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <input class="form-control" type="text" value="{{ doctor_data.nid_no }}"
                               id="nidNOID" name="nid_no" required/>
                    </div>
                    <label class="col-md-2 col-form-label" for="passportID">Passport No : </label>
                    <div class="col-md-4">
                        {% if doctor_data.passport_no %}
                        <input class="form-control" type="text" value=" {{ doctor_data.passport_no }}"
                               id="passportID" name="passport_no"/>
                        {% else %}
                        <input class="form-control" type="text" name="passport_no" placeholder="Not Provided"/>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <legend class="text-info"><i class="far fa-address-card"></i> Permanent Address Details</legend>
                    </div>
                    <div class="col-md-6">
                        <legend class="text-info"><i class="far fa-address-card"></i> Present Address Details</legend>
                    </div>
                </div>
                <hr>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="permanentDivisionID">Division :<span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="permanentDivisionID" name="permanent_division"
                                required>
                            <option selected>Select Permanent Division</option>
                            {% for item in division_data %}
                            {% if item.name == doctor_data.permanent_address.0.permanent_division.name %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <label class="col-md-2 col-form-label" for="presentDivisionID">Division :<span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="presentDivisionID" name="present_division" required>
                            <option selected>Select Present Division</option>
                            {% for item in division_data %}
                            {% if item.name == doctor_data.present_address.0.present_division.name %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="permanentDistrictID">District : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="permanentDistrictID" name="permanent_district"
                                required>
                            <option selected>Select Permanent District</option>
                            {% for item in district_data %}
                            {% if item.name == doctor_data.permanent_address.0.permanent_district.name %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <label class="col-md-2 col-form-label" for="presentDistrictID">District : <span class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="presentDistrictID" name="present_district" required>
                            <option selected>Select Present District</option>
                            {% for item in district_data %}
                            {% if item.name == doctor_data.present_address.0.present_district.name %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="permanentUpazilaID">Upazila : <span class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="permanentUpazilaID" name="permanent_upazila" required>
                            <option selected>Select Permanent Upazila</option>
                            {% for item in upazila_data %}
                            {% if item.name == doctor_data.permanent_address.0.permanent_upazila.name %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <label class="col-md-2 col-form-label" for="presentUpazilaID">Upazila : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="presentUpazilaID" name="present_upazila" required>
                            <option selected>Select Present Upazila</option>
                            {% for item in upazila_data %}
                            {% if item.name == doctor_data.present_address.0.present_upazila.name %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="permanentVaillageID">Village / State : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <input class="form-control" type="text"
                               value="{{ doctor_data.permanent_address.0.permanent_village_state }}"
                               id="permanentVaillageID" name="permanent_village_state" required/>
                    </div>
                    <label class="col-md-2 col-form-label" for="presentVaillageID">Village / State : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <input class="form-control" type="text"
                               value="{{ doctor_data.present_address.0.present_village_state }}"
                               id="presentVaillageID" name="present_village_state" required/>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="permanentPostalCodeID">Postal Code : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <input class="form-control" type="number" id="permanentPostalCodeID"
                               name="permanent_postal_code"
                               value="{{ doctor_data.permanent_address.0.permanent_postal_code }}" required/>
                    </div>
                    <label class="col-md-2 col-form-label" for="presentPostalID">Postal Code : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <input class="form-control" type="number" id="presentPostalID" name="present_postal_code"
                               value="{{ doctor_data.present_address.0.present_postal_code }}" required/>
                    </div>
                </div>
                <legend class="text-info">
                    <i class="fas fa-user-graduate"></i> Education
                </legend>
                <hr>
                <div id="education-sections">
                    <div class="education-section">
                        {% if doctor_data.education %}
                        {% for education_obj in doctor_data.education %}
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Certificate/Degree : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" value="{{ education_obj.certificate_degree }}"
                                       name="certificate_degrees[]" required/>
                            </div>
                            <div class="col-md-6">
                                <button type="button" class="btn btn-danger remove-education-section float-right">
                                    Remove
                                </button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label" for="boardID">Board Name : <span class="text-danger">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control select2" id="boardID" name="boards[]" required>
                                    <option selected>Select Board Name</option>
                                    {% for item in board_data %}
                                    {% if item.name == education_obj.board %}
                                    <option value="{{ item.id }}" selected>{{ item.name }}</option>
                                    {% else %}
                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                            <label class="col-md-2 col-form-label">Institution : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" value="{{ education_obj.institution }}"
                                       name="institutions[]" required/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Result : <span class="text-danger">*</span></label>
                            <div class="col-md-4">
                                <input class="form-control" type="number" value="{{ education_obj.result }}"
                                       name="results[]" required/>
                            </div>
                            <label class="col-md-2 col-form-label">Passing Year : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-4">
                                <input class="form-control" type="date" value="{{ education_obj.passing_year }}"
                                       name="passing_years[]" required/>
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                        {% else %}
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Certificate/Degree : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" name="certificate_degrees[]"
                                       placeholder="Not Provided" required/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Board Name : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-4">
                                <select class="form-control select2" name="boards[]" required>
                                    <option selected>Select Board Name</option>
                                    {% for item in board_data %}
                                    <option value="{{ item.id }}">{{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <label class="col-md-2 col-form-label">Institution : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-4">
                                <input class="form-control" type="text" name="institutions[]"
                                       placeholder="Not Provided" required/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Result : <span class="text-danger">*</span></label>
                            <div class="col-md-4">
                                <input class="form-control" type="number" name="results[]" placeholder="Not Provided"
                                       required/>
                            </div>
                            <label class="col-md-2 col-form-label">Passing Year : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-4">
                                <input class="form-control" type="date" name="passing_years[]" placeholder="Not Provided"
                                       required/>
                            </div>
                        </div>
                        <hr>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <button type="button" class="btn btn-primary add-education-section float-right">Add More
                        </button>
                    </div>
                </div>

                <legend class="text-info"><i class="far fa-edit"></i> Personal Skills</legend>
                <hr>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="experienceID">Experience : </label>
                    <div class="col-md-4">
                        <input class="form-control" type="text" value="{{ doctor_data.experience }}"
                               id="experienceID" name="experience" required/>
                    </div>
                    <label class="col-md-2 col-form-label" for="languagesSpokenID">Languages Spoken : </label>
                    <div class="col-md-4">
                        <input class="form-control" type="text" value="{{ doctor_data.languages_spoken }}"
                               id="languagesSpokenID" name="languages_spoken" required/>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="departmentID">Specialty : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="departmentID" name="department">
                            <option selected>Select Department / Specialty</option>
                            {% for item in department_data %}
                            {% if item.name == doctor_data.department %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <label class="col-md-2 col-form-label">Biography : </label>
                    <div class="col-md-4">
                        {% if doctor_data.biography %}
                        <input class="form-control" type="text" value=" {{ doctor_data.biography }}"
                               name="biography" required/>
                        {% else %}
                        <input class="form-control" type="text" name="biography" placeholder="Not Provided" required/>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <legend class="text-info"><i class="fab fa-servicestack"></i> Appointment Availability</legend>
                    </div>
                </div>
                <hr>
                <div id="schedule-sections">
                    <div class="schedule-section">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <button type="button"
                                        class="btn btn-danger remove-schedule-section float-right">
                                    Remove
                                </button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Starting Time :</label>
                            <div class="col-md-4">
                                {% if doctor_data.schedule_times %}
                                {% for schedule_time in doctor_data.schedule_times %}
                                <input type="time" class="form-control" value="{{ schedule_time.start_time }}"
                                       name="start_time[]" required/>
                                <br>
                                {% endfor %}
                                {% else %}
                                <input type="time" class="form-control" name="start_time[]" required/>
                                {% endif %}
                            </div>
                            <label class="col-md-2 col-form-label">Ending Time :</label>
                            <div class="col-md-4">
                                {% if doctor_data.schedule_times %}
                                {% for schedule_time in doctor_data.schedule_times %}
                                <input type="time" class="form-control" value="{{ schedule_time.end_time }}"
                                       name="end_time[]" required/>
                                <br>
                                {% endfor %}
                                {% else %}
                                <input type="time" class="form-control" name="end_time[]" required/>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <button type="button" class="btn btn-primary add-schedule-section float-right">Add More
                        </button>
                    </div>
                </div>
                <div id="off-day-sections">
                    <div class="off-day-section">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <button type="button"
                                        class="btn btn-danger remove-off-day-section float-right">
                                    Remove
                                </button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Off Day : <span class="text-danger">*</span></label>
                            {% if doctor_data.off_day_names %}
                            <div class="col-md-10">
                                {% for off_day_name in doctor_data.off_day_names %}
                                <select class="form-control select2" name="off_day[]" required>
                                    {% for item in day_data %}
                                    {% if item.name in doctor_data.off_day_names %}
                                    {% if item.name == off_day_name %}
                                    <option value="{{ item.id }}" selected>{{ item.id }} . {{ item.name }}</option>
                                    {% else %}
                                    <option value="{{ item.id }}">{{ item.id }} . {{ item.name }}</option>
                                    {% endif %}
                                    {% else %}
                                    <option value="{{ item.id }}">{{ item.id }} . {{ item.name }}</option>
                                    {% endif %}
                                    {% endfor %}
                                </select>
                                <br>
                                {% endfor %}
                                <br>
                            </div>
                            {% else %}
                            <div class="col-md-10">
                                <select class="form-control select2" id="offDayID" name="off_day[]" required>
                                    <option selected>Select Off Day</option>
                                    {% for item in day_data %}
                                    <option value="{{ item.id }}">{{ item.id }} . {{ item.name }}</option>
                                    {% endfor %}
                                </select>
                                <br>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <button type="button" class="btn btn-primary add-off-day-section float-right">Add More
                        </button>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label">Per Patient Time :</label>
                    <div class="col-md-10">
                        {% if doctor_data.appointment_schedules.0.per_patient_time %}
                        <input type="number" class="form-control"
                               value="{{ doctor_data.appointment_schedules.0.per_patient_time }}"
                               name="per_patient_time" required/>
                        {% else %}
                        <input type="number" class="form-control" name="per_patient_time" placeholder="Not Provide"
                               required/>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label">Consultation Fee :</label>
                    <div class="col-md-10">
                        {% if doctor_data.appointment_schedules.0.consultation_fee %}
                        <input type="number" class="form-control"
                               value="{{ doctor_data.appointment_schedules.0.consultation_fee }}"
                               name="consultation_fee" required/>
                        {% else %}
                        <input type="number" class="form-control" name="consultation_fee" placeholder="Not Provide"
                               required/>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <legend class="text-info"><i class="fas fa-award"></i> Awards</legend>
                    </div>
                </div>
                <hr>
                <div id="award-sections">
                    <div class="award-section">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-danger remove-award-section float-right">
                                    Remove
                                </button>
                            </div>
                        </div>
                        {% if doctor_data.awards %}
                        {% for award in doctor_data.awards %}
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Awards :</label>
                            <div class="col-md-10">
                                {% if award.awards %}
                                <input type="text" class="form-control" value="{{ award.awards }}" name="awards[]"
                                       required/>
                                {% else %}
                                <input type="text" class="form-control" name="awards[]" placeholder="Not Provide"
                                       required/>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Honors :</label>
                            <div class="col-md-10">
                                {% if award.honors %}
                                <input type="text" class="form-control" value="{{ award.honors }}" name="honors[]"
                                       required/>
                                {% else %}
                                <input type="text" class="form-control" name="honors[]" placeholder="Not Provide"
                                       placeholder="Not Provide">
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Publications :</label>
                            <div class="col-md-10">
                                {% if award.publications %}
                                <input type="text" class="form-control" value="{{ award.publications }}"
                                       name="publications[]" required/>
                                {% else %}
                                <input type="text" class="form-control" name="publications[]" placeholder="Not Provide"
                                       required/>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Research Interests :</label>
                            <div class="col-md-10">
                                {% if award.research_interests %}
                                <input type="text" class="form-control" value="{{ award.research_interests }}"
                                       name="research_interests[]" required/>
                                {% else %}
                                <input type="text" class="form-control" name="research_interests[]"
                                       placeholder="Not Provide" required/>
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        {% endfor %}
                        {% else %}
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Awards :</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="awards[]" placeholder="Not Provide"
                                       required/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Honors :</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="honors[]" placeholder="Not Provide"
                                       required/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Publications :</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="publications[]" placeholder="Not Provide"
                                       required/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Research Interests :</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="research_interests[]"
                                       placeholder="Not Provide" required/>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <button type="button" class="btn btn-primary add-award-section float-right">Add More
                        </button>
                    </div>
                </div>
                <hr>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <legend class="text-info"><i class="fab fa-linkedin"></i> Social Media</legend>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label">Website : </label>
                    <div class="col-md-10">
                        {% if doctor_data.social_media.0.website %}
                        <input type="url" class="form-control" value="{{ doctor_data.social_media.0.website }}"
                               name="website" required/>
                        {% else %}
                        <input type="url" class="form-control" name="website" required/>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label">Linkedin : </label>
                    <div class="col-md-10">
                        {% if doctor_data.social_media.0.linkedin %}
                        <input type="url" class="form-control" value="{{ doctor_data.social_media.0.linkedin }}"
                               name="linkedin" required/>
                        {% else %}
                        <input type="url" class="form-control" name="linkedin" required/>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label">Facebook : </label>
                    <div class="col-md-10">
                        {% if doctor_data.social_media.0.facebook %}
                        <input type="url" class="form-control" value="{{ doctor_data.social_media.0.facebook }}"
                               name="facebook" required/>
                        {% else %}
                        <input type="url" class="form-control" name="facebook" required/>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label">Instagram : </label>
                    <div class="col-md-10">
                        {% if doctor_data.social_media.0.instagram %}
                        <input type="url" class="form-control" value="{{ doctor_data.social_media.0.instagram }}"
                               name="instagram" required/>
                        {% else %}
                        <input type="url" class="form-control" name="instagram" required/>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-warning float-right">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'adminlte_assets/js/section-callback.js' %}"></script>
<script>
    function previewImage(event) {
    var input = event.target;
    var imgElement = document.getElementById("preview");

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
            imgElement.src = e.target.result;
        }

        reader.readAsDataURL(input.files[0]);
    } else {
        imgElement.src = "{% static 'adminlte_assets/img/nobody.png' %}";
    }
}
</script>
{% endblock %}