{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <form action="{% url 'store_social' %}" enctype="multipart/form-data" id="PostForm" method="POST"
          class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="card">
            <div class="card-header bg-dark">
                <h1 class="card-title">Add Doctor Social Details</h1>
            </div>
            <div class="card-body">
                {% if not doctor_data %}
                <div class="alert alert-default-warning">
                    <strong>Warning!</strong> Please <a class="text-dark" href="{% url 'doctor_form' %}"> Add
                    Doctor </a> first.
                </div>
                {% else %}
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="doctorNameID">Doctor Name : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <select class="form-control select2" id="doctorNameID" name="doctor_id" required>
                            <option selected disabled value="">Select Doctor Name</option>
                            {% for item in doctor_data %}
                            <option value="{{ item.id }}">{{ item.id }} . {{ item.full_name }}</option>
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select doctor name.</div>
                    </div>
                </div>
                {% endif %}
                <div class="row mb-3">
                    <div class="col-md-6">
                        <legend class="text-info"><i class="fab fa-linkedin"></i> Social Media</legend>
                    </div>
                </div>
                <hr>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="websiteID">Website : </label>
                    <div class="col-md-10">
                        <input class="form-control" id="websiteID" name="website" placeholder="https://www.website.com"
                               type="url"/>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="linkedinID">Linkedin : </label>
                    <div class="col-md-10">
                        <input class="form-control" id="linkedinID" name="linkedin"
                               placeholder="https://www.linkedin.com" type="url" required/>
                        <div class="invalid-feedback">Please enter doctor's linkedin link.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="facebookID">Facebook : </label>
                    <div class="col-md-10">
                        <input class="form-control" id="facebookID" name="facebook"
                               placeholder="https://www.facebook.com" type="url" required/>
                         <div class="invalid-feedback">Please enter doctor's facebook link.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="instagramID">Instagram : </label>
                    <div class="col-md-10">
                        <input class="form-control" id="instagramID" name="instagram"
                               placeholder="https://www.instagram.com" type="url" required/>
                         <div class="invalid-feedback">Please enter doctor's instagram link.</div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="row">
                    <div class="col-md-6">
                        <button class="btn btn-secondary" type="reset">Cancel</button>
                    </div>
                    <div class="col-md-6">
                        <button class="btn btn-success float-right" type="submit">Save</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
        });
     });
</script>
{% endblock %}


