{% extends 'admin/dashboard/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Edit Department Specification</h1>
        </div>
        <div class="card-body">
            <form id="PostForm" action="{% url 'edit_department_specification' department_specification_data.id %}"
                  method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="departmentID" class="col-md-3 col-form-label">Department Name</label>
                    <div class="col-md-9">
                        <select class="form-control select2" id="departmentID" name="department">
                            <option selected>Select Department Name</option>
                            {% for item in department_data %}
                            {% if item.name == department_specification_data.department %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="problemSpecificationID" class="col-md-3 col-form-label">Problem</label>
                    <div class="col-md-9">
                        <select class="form-control select2" id="problemSpecificationID"
                                name="organ_problem_specification">
                            <option selected>Select Problem</option>
                            {% for item in problem_data %}
                            {% if item.problem == department_specification_data.problem %}
                            <option value="{{ item.id }}" selected>{{ item.problem }} ({{ item.organ }})</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.problem }} ({{ item.organ }})</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <hr>
                <!-- Add form fields here -->
                <div class="row mb-3">
                    <label for="descriptionID" class="col-md-3 col-form-label">Description</label>
                    <div class="col-md-9">
                        <textarea name="description" id="descriptionID" class="form-control" cols="30" rows="10">{{ department_specification_data.description }}</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning float-right">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
