{% extends 'admin/dashboard/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Add Department Specification</h1>
        </div>
        <div class="card-body">
            <form id="PostForm" action="{% url 'store_department_specification' %}" method="POST">
                {% csrf_token %}
                {% if not department_data %}
                <div class="alert alert-default-warning">
                    <strong>Warning!</strong> Please <a class="text-dark" href="{% url 'add_department_form' %}"> Add
                    department </a> first.
                </div>
                {% else %}
                <div class="row mb-3">
                    <label for="specialtySelect" class="col-md-3 col-form-label">Department Name</label>
                    <div class="col-md-9">
                        <select class="form-control select2" id="specialtySelect" name="department">
                            <option selected>Select Department Name</option>
                            {% for item in department_data %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}
                {% if not problem_data %}
                <div class="alert alert-default-warning">
                    <strong>Warning!</strong> Please <a class="text-dark"
                                                        href="{% url 'add_organ_problem_specification_form' %}"> Add
                    Problem Specification</a> first.
                </div>
                {% else %}
                <div class="row mb-3">
                    <label for="problemSpecialtySelect" class="col-md-3 col-form-label">Problem</label>
                    <div class="col-md-9">
                        <select class="form-control select2" id="problemSpecialtySelect"
                                name="organ_problem_specification">
                            <option selected>Select Problem Name</option>
                            {% for item in problem_data %}
                            <option value="{{ item.id }}">{{ item.problem }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}
                <hr>
                <!-- Add form fields here -->
                <div class="row mb-3">
                    <label for="descriptionId" class="col-md-3 col-form-label">Description</label>
                    <div class="col-md-9">
                        <textarea name="description" id="descriptionId" type="text" class="form-control" cols="30"
                                  rows="2">{{ data.description|default:"N/A" }}</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-success float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}