{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark">
            <h1 class="card-title">Add Department</h1>
        </div>
        <div class="card-body">
            <form id="PostForm" action="{% url 'store_department' %}" method="POST" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="departmentNameID" class="col-md-2 col-form-label">Department Name: <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="departmentNameID" name="name" required/>
                        <div class="invalid-feedback">Please enter a department name.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="imageId" class="col-md-2 col-form-label">Image :</label>
                    <div class="col-md-10">
                        <input class="form-control" id="imageId" name="image" onchange="previewImage(event)"
                               type="file"/>
                        <img id="preview" src="{% static 'adminlte_assets/img/nobody.png' %}"
                             style="width: 100%; height: 500px;">
                        <div id="imageDescription" class="form-text">Choose an image file (JPEG, PNG, GIF) with a
                            maximum size of 5MB.
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="descriptionID" class="col-md-2 col-form-label">Description :</label>
                    <div class="col-md-10">
                        <textarea name="description" id="descriptionID" class="form-control" cols="30"
                                  rows="3" required>{{ data.description|default:"N/A" }}</textarea>
                        <div class="invalid-feedback">Please enter description or type N/A.</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
        });
     });
    function previewImage(event) {
        var input = event.target;
        var imgElement = document.getElementById("preview");

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                imgElement.src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        } else {
            imgElement.src = "{% static 'adminlte_assets/img/nobody.png' %}";
        }
    }
</script>
{% endblock %}

