{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}

{% block styles %}
<style>
    .error-message {
        color: #dc3545; /* Red color for danger state */
    }
</style>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark">
            <h1 class="card-title">Add Body Part</h1>
        </div>
        <div class="card-body">
            <form action="{% url 'store_body_part' %}" id="PostForm" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="bodyPartNameID" class="col-sm-12 col-md-2 col-form-label">Body Part Name : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <input class="form-control" id="bodyPartNameID" name="name" type="text"/>
                        <div class="error-message" id="nameError"></div><!-- Error message container -->
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="descriptionID" class="col-sm-12 col-md-2 col-form-label">Description :</label>
                    <div class="col-md-10">
                        <textarea class="form-control" cols="30" id="descriptionID" name="description"
                                  rows="2">{{ data.description|default:"N/A" }}</textarea>
                        <div class="error-message" id="descriptionError"></div> <!-- Error message container -->
                    </div>
                </div>
                <button type="submit" class="btn btn-success float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Get form and input elements
        var form = document.getElementById('PostForm');
        var nameInput = document.getElementById('bodyPartNameID');
        var descriptionInput = document.getElementById('descriptionID');
        var nameError = document.getElementById('nameError');
        var descriptionError = document.getElementById('descriptionError');

        const clearNameError = function() {
            nameError.textContent = '';
        };
        const clearDescriptionError = function() {
            descriptionError.textContent = '';
        };

        // Event listener for input on name field
        nameInput.addEventListener('input', function() {
            clearNameError();
        });
        // Event listener for input on password field
        descriptionInput.addEventListener('input', function() {
            clearDescriptionError();
        });
        form.addEventListener('submit', function (event) {
            // Reset error messages
            nameError.textContent = '';
            descriptionError.textContent = '';

            // Validate name
            if (nameInput.value.trim() === '') {
                nameError.textContent = 'Body Part Name is required.';
                event.preventDefault();
            }

            // You can add more validation for other fields as needed

            // Validate description (optional)
            if (descriptionInput.value.trim() === '') {
                descriptionError.textContent = 'Description is required.Enter Description Or Type N/A';
                event.preventDefault();
            }
        });
    });
</script>
{% endblock %}
