{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark">
            <h1 class="card-title">Doctor Information</h1>
            <h1 class="card-title float-right">
                <a href="{% url 'view_doctor_data' doctor_id %}"
                   class="nav-link btn btn-info float-right"
                   type="submit">Back View</a>
            </h1>
        </div>
        <div class="card-body">
            {% for doctor_data in doctor_all_data %}
            <div class="row">
                <div class="col-md-8">
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Doctor Name:</label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ doctor_data.full_name }}" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Father Name : </label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ doctor_data.father_name }}" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Mother Name : </label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ doctor_data.mother_name }}" readonly/>
                        </div>
                    </div>
                    <hr>
                    <!-- Email -->
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Email : </label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ doctor_data.email }}" readonly/>
                        </div>
                    </div>
                    <!-- Phone Number -->
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Phone Number : </label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ doctor_data.phone_no }}" readonly/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            {% if doctor_data.images.0.photo_name %}
                            <img alt="Doctor Image" src="{{ doctor_data.images.0.photo_name }}"
                                 style="width: 100%; height: 280px;">
                            {% else %}
                            <img alt="Doctor Image" src="{% static 'adminlte_assets/img/nobody.png' %}"
                                 style="width: 100%; height: 280px;">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-md-6">
                    <legend class="text-info"><i class="fas fa-award"></i> Awards</legend>
                </div>
            </div>
            <hr>
            <form action="{% url 'edit_award' doctor_id %}" enctype="multipart/form-data" id="PostForm" method="POST">
                {% csrf_token %}
                <div id="award-sections">
                    {% if doctor_data.awards %}
                    <div id="award">
                        {% for award in doctor_data.awards %}
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Awards :</label>
                            <div class="col-md-10">
                                {% if award.awards %}
                                <input type="text" class="form-control" value="{{ award.awards }}" name="awards[]"/>
                                {% else %}
                                <input type="text" class="form-control" name="awards[]" placeholder="Not Provide"/>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Honors :</label>
                            <div class="col-md-10">
                                {% if award.honors %}
                                <input type="text" class="form-control" value="{{ award.honors }}" name="honors[]"/>
                                {% else %}
                                <input type="text" class="form-control" name="honors[]" placeholder="Not Provide">
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Publications :</label>
                            <div class="col-md-10">
                                {% if award.publications %}
                                <input type="text" class="form-control" value="{{ award.publications }}"
                                       name="publications[]"/>
                                {% else %}
                                <input type="text" class="form-control" name="publications[]"
                                       placeholder="Not Provide"/>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Research Interests :</label>
                            <div class="col-md-10">
                                {% if award.research_interests %}
                                <input type="text" class="form-control" value="{{ award.research_interests }}"
                                       name="research_interests[]"/>
                                {% else %}
                                <input type="text" class="form-control" name="research_interests[]"
                                       placeholder="Not Provide"/>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="award-section">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-danger remove-award-section float-right">
                                    Remove
                                </button>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Awards :</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="awards[]" placeholder="Not Provide"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Honors :</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="honors[]" placeholder="Not Provide"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Publications :</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="publications[]"
                                       placeholder="Not Provide"/>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 col-form-label">Research Interests :</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="research_interests[]"
                                       placeholder="Not Provide"/>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <button type="button" class="btn btn-primary add-award-section float-right">Add More
                        </button>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-warning float-right">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'adminlte_assets/js/section-callback.js' %}"></script>
<script>
    function previewImage(event) {
    var input = event.target;
    var imgElement = document.getElementById("preview");

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
            imgElement.src = e.target.result;
        }

        reader.readAsDataURL(input.files[0]);
    } else {
        imgElement.src = "{% static 'adminlte_assets/img/nobody.png' %}";
    }
}
</script>
{% endblock %}