{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <form action="{% url 'edit_doctor' doctor_id %}" enctype="multipart/form-data" id="PostForm" method="POST"
          class="needs-validation" novalidate>
        {% csrf_token %}
        <div class="card">
            <div class="card-header bg-dark">
                <h1 class="card-title">Doctor Information</h1>
                <h1 class="card-title float-right">
                    <a href="{% url 'view_doctor_data' doctor_id %}"
                       class="nav-link btn btn-info float-right"
                       type="submit">Back View</a>
                </h1>
            </div>
            <div class="card-body">
                {% for doctor_data in doctor_all_data %}
                <div class="row">
                    <div class="col-md-8">
                        <div class="row mb-3">
                            <label class="col-md-3 col-form-label" for="DoctorID">Full Name : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" id="DoctorID"
                                       value="{{ doctor_data.full_name }}" name="full_name" required/>
                                <div class="invalid-feedback">Please enter your full name.</div>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-3 col-form-label" for="fatherNameID">Father Name : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" id="fatherNameID"
                                       value="{{ doctor_data.father_name }}" name="father_name" required/>
                                <div class="invalid-feedback">Please enter your father name.</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-3 col-form-label" for="motherNameID">Mother Name : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" id="motherNameID"
                                       value="{{ doctor_data.mother_name }}" name="mother_name" required/>
                                <div class="invalid-feedback">Please enter your mother name.</div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-3 col-form-label" for="dateOfBirthID">Date of Birth : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" type="date" id="dateOfBirthID"
                                       value="{{ doctor_data.date_of_birth }}" name="date_of_birth" required/>
                                <div class="invalid-feedback">Please choose your date of birth.</div>
                            </div>
                        </div>
                        <!-- Phone Number -->
                        <div class="row mb-3">
                            <label class="col-md-3 col-form-label" for="phoneNoID">Phone Number : <span
                                    class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control" type="text" value="{{ doctor_data.phone_no }}"
                                       id="phoneNoID" name="phone_no" required/>
                                <div class="invalid-feedback">Please enter your phone no.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="row mb-3">
                            <div class="col-md-12">
                                <input class="form-control mb-3" id="imageID" name="photo_name"
                                       onchange="previewImage(event)" type="file"/>
                                {% if doctor_data.images.0.photo_name %}
                                <img alt="Doctor Image" id="preview" src="{{ doctor_data.images.0.photo_name }}"
                                     style="width: 75%; height: 200px;">
                                {% else %}
                                <img alt="Doctor Image" id="preview" src="{% static 'adminlte_assets/img/nobody.png' %}"
                                     style="width: 75%; height: 200px;">
                                {% endif %}
                                <div id="imageDescription" class="form-text">Choose an image file (JPEG, PNG, GIF) with
                                    a maximum size of 5MB.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <legend class="text-info"><i class="far fa-address-card"></i> Personal Information</legend>
                    </div>
                </div>
                <hr>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="genderID">Gender :<span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="genderID" name="gender" required>
                            <option selected disabled value="">Select Gender</option>
                            {% for item in gender_data %}
                            {% if item.name == doctor_data.gender %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select gender.</div>
                    </div>
                    <label class="col-md-2 col-form-label" for="religionID">Religion :<span class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="religionID" name="religion" required>
                            <option selected disabled value="">Select Religion</option>
                            {% for item in religion_data %}
                            {% if item.name == doctor_data.religion %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select religion.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="bloodGroupID">Blood Group : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="bloodGroupID" name="blood_group" required>
                            <option selected disabled value="">Select Blood Group</option>
                            {% for item in blood_group_data %}
                            {% if item.name == doctor_data.blood_group %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select blood group.</div>
                    </div>
                    <label class="col-md-2 col-form-label" for="matrimonyID">Matrimony Status : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="matrimonyID" name="matrimony" required>
                            <option selected disabled value="">Select Matrimony</option>
                            {% for item in matrimony_data %}
                            {% if item.name == doctor_data.matrimony %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select matrimony.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="nidID">NID No: <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <input class="form-control" type="text" value="{{ doctor_data.nid_no }}"
                               id="nidID" name="nid_no" required/>
                        <div class="invalid-feedback">Please enter your nid no.</div>
                    </div>
                    <label class="col-md-2 col-form-label" for="passportID">Passport No : </label>
                    <div class="col-md-4">
                        {% if doctor_data.passport_no %}
                        <input class="form-control" type="text" value=" {{ doctor_data.passport_no }}"
                               id="passportID" name="passport_no" required/>
                        <div class="invalid-feedback">Please enter your passport id or type n/a.</div>
                        {% else %}
                        <input class="form-control" type="text" name="passport_no"
                               value="{{ data.Passport|default:'Not Applicable' }}" required/>
                        <div class="invalid-feedback">Please enter your passport id or type n/a.</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-6">
                        <legend class="text-info"><i class="far fa-address-card"></i> Permanent Address Details</legend>
                    </div>
                    <div class="col-md-6">
                        <legend class="text-info"><i class="far fa-address-card"></i> Present Address Details</legend>
                    </div>
                </div>
                <hr>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="permanentDivisionID">Division :<span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="permanentDivisionID" name="permanent_division"
                                required>
                            <option selected disabled value="">Select Permanent Division</option>
                            {% for item in division_data %}
                            {% if item.name == doctor_data.permanent_address.0.permanent_division.name %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select your permanent division name.</div>
                    </div>
                    <label class="col-md-2 col-form-label" for="presentDivisionID">Division :<span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="presentDivisionID" name="present_division" required>
                            <option selected disabled value="">Select Present Division</option>
                            {% for item in division_data %}
                            {% if item.name == doctor_data.present_address.0.present_division.name %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select your present division name.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="permanentDistrictID">District : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="permanentDistrictID" name="permanent_district"
                                required>
                            <option selected disabled value="">Select Permanent District</option>
                            {% for item in district_data %}
                            {% if item.name == doctor_data.permanent_address.0.permanent_district.name %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select your permanent district name.</div>
                    </div>
                    <label class="col-md-2 col-form-label" for="presentDistrictID">District : <span class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="presentDistrictID" name="present_district" required>
                            <option selected disabled value="">Select Present District</option>
                            {% for item in district_data %}
                            {% if item.name == doctor_data.present_address.0.present_district.name %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select your present district name.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="permanentUpazilaID">Upazila : <span class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="permanentUpazilaID" name="permanent_upazila" required>
                            <option selected disabled value="">Select Permanent Upazila</option>
                            {% for item in upazila_data %}
                            {% if item.name == doctor_data.permanent_address.0.permanent_upazila.name %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select your permanent upazila name.</div>
                    </div>
                    <label class="col-md-2 col-form-label" for="presentUpazilaID">Upazila : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="presentUpazilaID" name="present_upazila" required>
                            <option selected disabled value="">Select Present Upazila</option>
                            {% for item in upazila_data %}
                            {% if item.name == doctor_data.present_address.0.present_upazila.name %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select your present upazila name.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="permanentVaillageID">Village / State : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <input class="form-control" type="text"
                               value="{{ doctor_data.permanent_address.0.permanent_village_state }}"
                               id="permanentVaillageID" name="permanent_village_state" required/>
                        <div class="invalid-feedback">Please enter your permanent village / state name.</div>
                    </div>
                    <label class="col-md-2 col-form-label" for="presentVaillageID">Village / State : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <input class="form-control" type="text"
                               value="{{ doctor_data.present_address.0.present_village_state }}"
                               id="presentVaillageID" name="present_village_state" required/>
                        <div class="invalid-feedback">Please enter your present village / state name.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="permanentPostalCodeID">Postal Code : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <input class="form-control" type="number" id="permanentPostalCodeID"
                               name="permanent_postal_code"
                               value="{{ doctor_data.permanent_address.0.permanent_postal_code }}" required/>
                        <div class="invalid-feedback">Please enter your permanent postal code.</div>
                    </div>
                    <label class="col-md-2 col-form-label" for="presentPostalID">Postal Code : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <input class="form-control" type="number" id="presentPostalID" name="present_postal_code"
                               value="{{ doctor_data.present_address.0.present_postal_code }}" required/>
                        <div class="invalid-feedback">Please enter your present postal code.</div>
                    </div>
                </div>
                <legend class="text-info"><i class="far fa-edit"></i> Personal Skills</legend>
                <hr>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="experienceID">Experience : </label>
                    <div class="col-md-4">
                        {% if doctor_data.experience %}
                        <input class="form-control" type="text" value=" {{ doctor_data.experience }}"
                               id="experienceID" name="experience"/>
                        <div class="invalid-feedback">Please enter your experience or type n/a.</div>
                        {% else %}
                        <input class="form-control" type="text" name="passport_no" id="experienceID"
                               value="{{ data.Experience|default:'Not Applicable' }}" required/>
                        <div class="invalid-feedback">Please enter your experience or type n/a.</div>
                        {% endif %}
                    </div>
                    <label class="col-md-2 col-form-label" for="languagesSpokenID">Languages Spoken : </label>
                    <div class="col-md-4">
                        {% if doctor_data.languages_spoken %}
                        <input class="form-control" type="text" value="{{ doctor_data.languages_spoken }}"
                               id="languagesSpokenID" name="languages_spoken" required/>
                        <div class="invalid-feedback">Please enter languages spoken or type n/a.</div>
                        {% else %}
                        <input class="form-control" type="text" name="languages_spoken" id="languagesSpokenID"
                               value="{{ data.LanguagesSpoken|default:'Not Applicable' }}" required/>
                        <div class="invalid-feedback">Please enter languages spoken or type n/a.</div>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="departmentID">Specialty : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-4">
                        <select class="form-control select2" id="departmentID" name="department">
                            <option selected disabled value="">Select Department / Specialty</option>
                            {% for item in department_data %}
                            {% if item.name == doctor_data.department %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select department name.</div>
                    </div>
                    <label class="col-md-2 col-form-label">Biography : </label>
                    <div class="col-md-4">
                        {% if doctor_data.biography %}
                        <input class="form-control" type="text" value=" {{ doctor_data.biography }}"
                               name="biography" required/>
                        <div class="invalid-feedback">Please enter your biography or type n/a.</div>
                        {% else %}
                        <input class="form-control" type="text" name="biography"
                               value="{{ data.Biography|default:'Not Applicable' }}" required/>
                        <div class="invalid-feedback">Please enter your biography or type n/a.</div>
                        {% endif %}
                    </div>
                </div>

                {% endfor %}
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-warning float-right">Update</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
        });
     });
    function previewImage(event) {
    var input = event.target;
    var imgElement = document.getElementById("preview");

    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function(e) {
            imgElement.src = e.target.result;
        }

        reader.readAsDataURL(input.files[0]);
    } else {
        imgElement.src = "{% static 'adminlte_assets/img/nobody.png' %}";
    }
}
</script>
{% endblock %}