{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark">
            <h1 class="card-title">Doctor Social Information</h1>
            <h1 class="card-title float-right">
                <a href="{% url 'social_view' doctor_id %}" class="nav-link btn btn-info float-right">Back View</a>
            </h1>
        </div>
        <div class="card-body">
            {% for doctor_data in doctor_all_data %}
            <div class="row">
                <div class="col-md-8">
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Doctor Name:</label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ doctor_data.full_name }}" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Father Name : </label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ doctor_data.father_name }}" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Mother Name : </label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ doctor_data.mother_name }}" readonly/>
                        </div>
                    </div>
                    <hr>
                    <!-- Email -->
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Email : </label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ doctor_data.email }}" readonly/>
                        </div>
                    </div>
                    <!-- Phone Number -->
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Phone Number : </label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ doctor_data.phone_no }}" readonly/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            {% if doctor_data.images.0.photo_name %}
                            <img alt="Doctor Image" src="{{ doctor_data.images.0.photo_name }}"
                                 style="width: 100%; height: 280px;">
                            {% else %}
                            <img alt="Doctor Image" src="{% static 'adminlte_assets/img/nobody.png' %}"
                                 style="width: 100%; height: 280px;">
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <div class="col-md-6">
                    <legend class="text-info"><i class="fab fa-linkedin"></i> Social Media</legend>
                </div>
            </div>
            <form action="{% url 'edit_social' doctor_id %}" enctype="multipart/form-data" id="PostForm"
                  method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label">Website : </label>
                    <div class="col-md-10">
                        {% if doctor_data.social_media.0.website %}
                        <input type="url" class="form-control" value="{{ doctor_data.social_media.0.website }}"
                               name="website"/>
                        {% else %}
                        <input type="url" class="form-control" name="website"/>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label">Linkedin : </label>
                    <div class="col-md-10">
                        {% if doctor_data.social_media.0.linkedin %}
                        <input type="url" class="form-control" value="{{ doctor_data.social_media.0.linkedin }}"
                               name="linkedin"/>
                        {% else %}
                        <input type="url" class="form-control" name="linkedin"/>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label">Facebook : </label>
                    <div class="col-md-10">
                        {% if doctor_data.social_media.0.facebook %}
                        <input type="url" class="form-control" value="{{ doctor_data.social_media.0.facebook }}"
                               name="facebook"/>
                        {% else %}
                        <input type="url" class="form-control" name="facebook"/>
                        {% endif %}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label">Instagram : </label>
                    <div class="col-md-10">
                        {% if doctor_data.social_media.0.instagram %}
                        <input type="url" class="form-control" value="{{ doctor_data.social_media.0.instagram }}"
                               name="instagram"/>
                        {% else %}
                        <input type="url" class="form-control" name="instagram"/>
                        {% endif %}
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-6">
                            <button type="reset" class="btn btn-secondary">Cancel</button>
                        </div>
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-warning float-right">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'adminlte_assets/js/section-callback.js' %}"></script>
{% endblock %}