{% load static %}
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">
        <!-- Navbar Logo -->
        <a href="{% url 'landing_dashboard' %}" class="logo me-auto"><img src="{% static 'landing_assets/img/t_logo.png' %}" alt="" class="img-fluid"></a>
        <!-- Navbar Toggle -->
        <nav id="navbar" class="navbar order-last order-lg-0">
            <ul>
                <li><a class="nav-link scrollto" href="{% url 'landing_dashboard' %}">Home</a></li>
                <li><a class="nav-link scrollto" href="{% url 'landing_doctors' %}">Doctors</a></li>
                <li><a class="nav-link scrollto" href="{% url 'landing_faq' %}">FAQ</a></li>
                <li><a class="nav-link scrollto" href="{% url 'landing_article' %}">Articles</a></li>
                <li><a class="nav-link scrollto" href="{% url 'login' %}">Login</a></li>
                <li><a class="nav-link scrollto" href="{% url 'doctor_register' %}">Register</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
    </div>
</header>
<!-- End Header -->
