{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark">
            <h1 class="card-title">Edit Article Info</h1>

        </div>
        <div class="card-body">
            <form action="{% url 'edit_article' article_data.id %}" enctype="multipart/form-data" id="PostForm"
                  method="POST" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="articleHeadingId" class="col-md-2 col-form-label">Article Heading : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <input class="form-control" id="articleHeadingId" value="{{article_data.heading}}"
                               name="heading" type="text" required/>
                        <div class="invalid-feedback">Please enter an article heading.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="tagId" class="col-md-2 col-form-label">Tag : <span class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <input class="form-control" id="tagId" value="{{article_data.tag}}" name="tag" type="text"
                               required/>
                        <div class="invalid-feedback">Please enter tag name.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="imageId" class="col-md-2 col-form-label">Image :</label>
                    {% if article_data.image %}
                    <div class="col-md-10">
                        <input class="form-control mb-3" id="imageID" name="image"
                               onchange="previewImage(event)" type="file"/>
                        <img id="preview" src="{{article_data.image}}"
                             style="width: 100%; height: 500px;">
                        <div id="imageDescriptionID" class="form-text">Choose an image file (JPEG, PNG, GIF) with a
                            maximum size of 5MB.
                        </div>
                    </div>
                    {% else%}
                    <div class="col-md-10">
                        <input class="form-control mb-3" id="imageID" name="image"
                               onchange="previewImage(event)" type="file"/>
                        <img id="preview" src="{% static 'adminlte_assets/img/nobody.png' %}"
                             style="width: 100%; height: 500px;">
                        <div id="imageDescription" class="form-text">Choose an image file (JPEG, PNG, GIF) with a
                            maximum size of 5MB.
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="row mb-3">
                    <label for="descriptionId" class="col-md-2 col-form-label">Description :</label>
                    <div class="col-md-10">
                        <textarea name="description" id="descriptionId" class="form-control" cols="30"
                                  rows="2" required>{{article_data.description}}</textarea>
                        <div class="invalid-feedback">Please enter description or type N/A.</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
        });
     });

    function previewImage(event) {
        var input = event.target;
        var imgElement = document.getElementById("preview");

        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function(e) {
                imgElement.src = e.target.result;
            }

            reader.readAsDataURL(input.files[0]);
        } else {
            imgElement.src = "{% static 'adminlte_assets/img/nobody.png' %}";
        }
    }

</script>
{% endblock %}
