{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark">
            <h1 class="card-title">Article View</h1>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <label class="col-md-3 col-form-label font-weight-bold">Heading :</label>
                <div class="col-md-9">
                    <input class="form-control" value="{{ article_data.heading }}" readonly/>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-3 col-form-label font-weight-bold">Tag :</label>
                <div class="col-md-9">
                    <input class="form-control" value="{{ article_data.tag }}" readonly/>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-3 col-form-label font-weight-bold">Image :</label>
                <div class="col-md-9">
                    <img src="{{ article_data.image }}" alt="Article Image" class="img-thumbnail" width="100%"
                         height="500px">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-3 col-form-label font-weight-bold">Description :</label>
                <div class="col-md-9">
                    <input class="form-control" value="{{ article_data.description }}" readonly/>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
