{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}
{% block styles %}
<style>
    .error-message {
        color: #dc3545; /* Red color for danger state */
    }
</style>
{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark">
            <h1 class="card-title">Add Medicine</h1>
        </div>
        <div class="card-body">
            <form id="PostForm" action="{% url 'store_medicine' %}" method="POST" onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="brandNameID">Brand Name : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <select class="form-control select2" id="brandNameID" name="brand">
                            <option selected>Select Brand Name</option>
                            {% for item in brand_data %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="genericNameID">Generic Name : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <select class="form-control select2" id="genericNameID" name="generic">
                            <option selected>Select Generic Name</option>
                            {% for item in generic_data %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="medicineTypeID">Medicine Type : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <select class="form-control select2" id="medicineTypeID" name="medicine_type">
                            <option selected>Select Medicine Type</option>
                            {% for item in medicine_type_data %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="medicineNameID" class="col-md-2 col-form-label">Medicine Name : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="medicineNameID" name="name"/>
                        <div id="nameError" class="error-message"></div><!-- Error message container -->
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="strengthID">Strength : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <select class="form-control select2" id="strengthID" name="strength">
                            <option selected>Select Strength</option>
                            {% for item in strength_data %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="descriptionID" class="col-md-2 col-form-label">Description</label>
                    <div class="col-md-10">
                        <textarea name="description" id="descriptionID" class="form-control" cols="30"
                                  rows="2">{{ data.description|default:"N/A" }}</textarea>
                        <div id="descriptionError" class="error-message"></div> <!-- Error message container -->
                    </div>
                </div>
                <button type="submit" class="btn btn-success float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}


