{% extends 'landing/landing_layout.html' %}
{% load static %}

{% block styles %}
<style>
    #article {
        background: url("{% static 'landing_assets/img/hero-bg.png' %}") center center no-repeat;
    }

    .image-container {
        position: relative;
        display: inline-block;
    }

    .image-popup {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 500px;
        z-index: 1;
    }

    .image-container:hover .image-popup {
        display: block;
    }

</style>
{% endblock %}

{% block content %}
<!-- ======= article Section ======= -->
<section id="article" class="articles">
    <div class="container">
        <div class="articles-slider swiper" data-aos="fade-up" data-aos-delay="100">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <div class="article-wrap">
                        <div class="article-item">
                            <img src="{% static 'landing_assets/img/articles/turan.jpg' %}" class="article-img" alt=""/>
                            <h3>Mamun Mia Turan</h3>
                            <h4>CEO &amp; Founder</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Keep your friends rich and your enemies rich, and wait to find out which is which.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                        <div class="article-item">
                            <img src="{% static 'landing_assets/img/articles/mumu.jpg' %}" class="article-img" alt=""/>
                            <h3>Meherun Nesa Mumu</h3>
                            <h4>MD &amp; Co-Founder</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                What sets you apart can sometimes feel like a burden and it's not. And a lot of the
                                time, it's what makes you great.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>


                        {% for data in all_data %}
                        <div class="article-item">
                            <div class="image-container">
                                <img src="{{ data.image }}" alt="Article Image" width="100" class="article-img" alt="">
                                <div class="image-popup">
                                    <img src="{{ data.image }}" alt="Full Image" width="1800" height="700">
                                </div>
                            </div>
                            <h3>{{data.heading}}</h3>
                            <h4>{{data.tag}}</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                {{data.description}}
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- End article item -->
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
<!-- End Articles Section -->
{% endblock %}

{% block scripts %}
{% endblock %}