{% extends 'landing/landing_layout.html' %}
{% load static %}

{% block styles %}
<style>
    #article {
        background: url("{% static 'landing_assets/img/hero-bg.png' %}") center center no-repeat;
    }

    .image-container {
        position: relative;
        display: inline-block;
    }

    .image-popup {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 500px;
        z-index: 1;
    }

    .image-container:hover .image-popup {
        display: block;
    }








</style>
{% endblock %}

{% block content %}
<!-- ======= Services Section ======= -->
<main id="main">
    <section id="services" class="services">
        <div class="container">
            <div class="section-title">
                <h2>Articles</h2>
                <p>An original article contains the following items: A title page, an Abstract, Introduction, Patients
                    (or materials) and methods, Results, Discussion, Summary or conclusion, the References, Tables,
                    Figures, legends to Figures and any acknowledgements.</p>
            </div>
            <div class="row">
                {% if all_data %}
                {% for data in all_data %}
                <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                    <div class="icon-box">
                        <a href="{% url 'landing_single_article' data.id %}">
                            <div class="icon"><i class="fas fa-heartbeat"></i></div>
                            <h3>{{data.heading}}</h3>
                            <h5>{{data.tag}}</h5>
                            <p>{{data.description}}</p>
                        </a>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="row alert alert-warning">
                <h3>No Article Found</h3>
                <br>
                <a href="{% url 'landing_dashboard' %}"><i class="fas fa-arrow-left"></i> Go Back</a>
            </div>
            {% endif %}
        </div>
    </section><!-- End Services Section -->
</main>

{% endblock %}

{% block scripts %}
{% endblock %}