{% extends 'landing/landing_layout.html' %}
{% load static %}

{% block styles %}
<style>
    #register {
        background: url("{% static 'landing_assets/img/hero-bg.png' %}") center center no-repeat;
    }
</style>

{% endblock %}

{% block content %}
<!-- ======= Login Section ======= -->
<section id="register">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <img src="{% static 'landing_assets/img/gummy-medical-lab.png' %}" class="img-fluid"
                     style="width: 100%">
            </div>
            <div class="col-md-5">
                <div style="padding-top:20px !important;"></div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title text-center">Patient Registration OTP Form</h4>
                    </div>
                    <div class="card-body">
                        <form id="PostForm" action="{% url 'otp_varify' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" name="otp" id="otpID"
                                       placeholder="Enter your OTP" required>
                            </div>
                            <div class="text-center mb-3">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Login Section -->
{% endblock %}

{% block scripts %}
{% endblock %}