{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% block content %}
<div class="content mt-3">
    <div class="container">
        <div class="alert alert-default-info">
            <div class="row">
                <div class="col-6">
                    <h6 id="doctor-welcome-message">Welcome to your Doctor Dashboard</h6>
                </div>
                <div class="col-6 text-right">
                    <h5 id="current-time"></h5>
                    <p id="current-date"></p>
                </div>
            </div>
        </div>
        <!-- Small boxes (Stat box) -->
        <div class="row text-center">
            <div class="col-sm-4 col-md-4">
                <div class="small-box text-white" style="background-color:#5C8374">
                    <div class="inner">
                        <h6 class="text-center">Today's Appointment</h6>
                        <p class="text-center">{{count_appointment_data.appointments_count}}</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-calendar-check"></i>
                    </div>
                    <a href="{% url 'appointment_list_by_date' %}" class="small-box-footer">See More <i
                            class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="small-box text-white" style="background-color:#557B83">
                    <div class="inner">
                        <h6 class="text-center">Total Medicine Prescription</h6>
                        <p class="text-center">{{medicine_prescription_data.prescriptions_for_medicine_count}}</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-file-medical"></i>
                    </div>
                    <a href="{% url 'medine_prescription_list' %}" class="small-box-footer">See More <i
                            class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="col-sm-4 col-md-4">
                <div class="small-box text-white" style="background-color:#557B83">
                    <div class="inner">
                        <h6 class="text-center">Total Lab Prescription</h6>
                        <p class="text-center">{{lab_prescription_data.prescriptions_for_lab_count}}</p>
                    </div>
                    <div class="icon">
                        <i class="fas fa-file-medical"></i>
                    </div>
                    <a href="{% url 'lab_prescription_list' %}" class="small-box-footer">See More <i
                            class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-dark">
                    <div class="card-header">
                        <h3 class="card-title">Appointment - Lab Prescription - Medicine Prescription - Medicine - Labtest - Article Overview</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse"><i
                                    class="fas fa-minus"></i>
                            </button>
                            <button type="button" class="btn btn-tool" data-card-widget="remove"><i
                                    class="fas fa-times"></i></button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="chart">
                            <canvas id="graphChart"
                                    style="min-height: 280px; height: 280px; max-height: 280px; max-width: 100%;">
                            </canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Function to update the current time and date
        function updateCurrentTime() {
            var currentTimeElement = document.getElementById('current-time');
            var currentDateElement = document.getElementById('current-date');
            var currentTime = new Date();
            var hours = currentTime.getHours();
            var minutes = currentTime.getMinutes();
            var seconds = currentTime.getSeconds();
            var ampm = hours >= 12 ? 'PM' : 'AM';

            // Convert to 12-hour format
            hours = hours % 12;
            hours = hours ? hours : 12; // The hour '0' should be '12'

            var formattedTime = hours + ':' + (minutes < 10 ? '0' : '') + minutes + ':' + (seconds < 10 ? '0' : '') + seconds + ' ' + ampm;

            var options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
            var formattedDate = currentTime.toLocaleDateString(undefined, options);

            currentTimeElement.textContent = formattedTime;
            currentDateElement.textContent = formattedDate;
        }

        // Update the time and date every second
        setInterval(updateCurrentTime, 1000);

        // Call the function once to display the initial time and date
        updateCurrentTime();

        // Function to update the bar chart with appointment, lab test, medicine, labtest, article counts
        function updateGraphChart(appointmentCount, labPrescriptionCount, medicinePrescriptionCount, labtestCount,medicineCount, articleCount) {
            var xValues = ["Appointments", "Lab Prescription", "Medicine Prescription", "Lab Test","Medicine", "Article"];
            var yValues = [appointmentCount, labPrescriptionCount, medicinePrescriptionCount, labtestCount,medicineCount, articleCount]; // Adjusted values
            var barColors = ["#86A7FC", "#16A596", "#FF8E6E", "#FF9843","#123456", "#789ABC"];

            new Chart("graphChart", {
                type: "bar",
                data: {
                    labels: xValues,
                    datasets: [{
                        backgroundColor: barColors,
                        data: yValues
                    }]
                },
                options: {
                    legend: { display: false },
                    title: {
                        display: true,
                        text: "Appointment - Lab Prescription - Medicine Prescription - Lab Test - Article Overview"
                    }
                }
            });
        }

        // Call the function to update the bar chart with initial values
        updateGraphChart(
            {{ count_appointment_data.appointments_count }},
            {{ lab_prescription_data.prescriptions_for_lab_count }},
            {{ medicine_prescription_data.prescriptions_for_medicine_count }},
            {{ labtest_data.labtest_count }},
            {{ medicine_data.medicine_count }},
            {{ article_data.article_count }},
            {{ lab_prescription_data.prescriptions_for_lab_count }}
        );
    });


    var doctorWelcomeMessages = [
        "Welcome to your Doctor Dashboard. Your patients' health is in good hands!",
        "Hello, Doctor! We're here to assist you in providing exceptional healthcare.",
        "Thank you for choosing our platform for managing your patients' health.",
        "Your dedication to patient care makes a difference. Welcome to your dashboard!",
        "Empowering doctors to deliver quality healthcare. Welcome aboard!",
        "Your expertise is valued here. Welcome to your Doctor Dashboard!",
        "Your patients trust you for a reason. Let's make healthcare better together.",
        "Managing health records has never been easier. Welcome to your dashboard!",
        "We appreciate your commitment to patient well-being. Welcome, Doctor!",
        "Your impact on patient lives starts here. Welcome to your Doctor Dashboard!",
        "Every interaction counts. Your dashboard is ready to assist you.",
        "Elevating healthcare with your expertise. Welcome to the Doctor Dashboard!",
        "Your dedication to patient care is truly commendable. Welcome!",
        "Patient health at your fingertips. Welcome to your Doctor Dashboard!",
        "Your skills, our platform. Let's enhance healthcare together. Welcome!",
        // Add more messages as needed
    ];

    // Function to display a random welcome message for the doctor's dashboard
    function displayRandomDoctorWelcomeMessage() {
        var randomIndex = Math.floor(Math.random() * doctorWelcomeMessages.length);
        var randomDoctorWelcomeMessage = doctorWelcomeMessages[randomIndex];
        var doctorWelcomeMessageElement = document.querySelector('#doctor-welcome-message');
        doctorWelcomeMessageElement.textContent = randomDoctorWelcomeMessage;
    }

    // Call the function on page load
    displayRandomDoctorWelcomeMessage();
</script>
{% endblock %}
