{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark">
            <h1 class="card-title">Admin Details</h1>
            <h1 class="card-title float-right">
                <a href="{% url 'edit_admin_form' admin_id %}"
                   class="nav-link btn btn-warning float-right"
                   type="submit">Edit Profile</a>
            </h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Name : </label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ admin_all_data.full_name }}" readonly/>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Email : </label>
                        <div class="col-md-9">
                            <input class="form-control" value=" {{ admin_all_data.email }}" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Father Name : </label>
                        <div class="col-md-9">
                            {% if admin_all_data.father_name %}
                            <input class="form-control" value=" {{ admin_all_data.father_name }}" readonly/>
                            {% else %}
                            <span class="badge badge-warning">Not Provided</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Mother Name : </label>
                        <div class="col-md-9">
                            {% if admin_all_data.mother_name %}
                            <input class="form-control" value=" {{ admin_all_data.mother_name }}" readonly/>
                            {% else %}
                            <span class="badge badge-warning">Not Provided</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Date of Birth : </label>
                        <div class="col-md-9">
                            {% if admin_all_data.date_of_birth %}
                            <input class="form-control" value=" {{ admin_all_data.date_of_birth }}" readonly/>
                            {% else %}
                            <span class="badge badge-warning">Not Provided</span>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Phone Number -->
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Phone Number : </label>
                        <div class="col-md-9">
                            {% if admin_all_data.phone_no %}
                            <input class="form-control" value=" {{ admin_all_data.phone_no }}" readonly/>
                            {% else %}
                            <span class="badge badge-warning">Not Provided</span>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            {% if admin_all_data.images.0.photo_name %}
                            <img alt="Doctor Image" src="{{ admin_all_data.images.0.photo_name }}"
                                 style="width: 100%; height: 280px;">
                            {% else %}
                            <img alt="Doctor Image" src="{% static 'adminlte_assets/img/nobody.png' %}"
                                 style="width: 100%; height: 280px;">
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-sm-12 col-md-6">
                    <legend class="text-info"><i class="far fa-address-card"></i> Personal Information</legend>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Gender :</label>
                <div class="col-md-4">
                    {% if admin_all_data.gender %}
                    <input class="form-control" value=" {{ admin_all_data.gender }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
                <label class="col-md-2 col-form-label">Religion :</label>
                <div class="col-md-4">
                    {% if admin_all_data.religion %}
                    <input class="form-control" value=" {{ admin_all_data.religion }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Blood Group : </label>
                <div class="col-md-4">
                    {% if admin_all_data.blood_group %}
                    <input class="form-control" value=" {{ admin_all_data.blood_group }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
                <label class="col-md-2 col-form-label">Matrimony Status : </label>
                <div class="col-md-4">
                    {% if admin_all_data.matrimony %}
                    <input class="form-control" value=" {{ admin_all_data.matrimony }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">NID No: </label>
                <div class="col-md-4">
                    {% if admin_all_data.nid_no %}
                    <input class="form-control" value=" {{ admin_all_data.nid_no }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
                <label class="col-md-2 col-form-label">Address : </label>
                <div class="col-md-4">
                    {% if admin_all_data.address %}
                    <input class="form-control" value=" {{ admin_all_data.address }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}