{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark">
            <h1 class="card-title">Edit Organ Problem Specification Details</h1>
        </div>
        <div class="card-body">
            <form id="PostForm"
                  action="{% url 'edit_organ_problem_specification' organ_problem_specification_data.id %}"
                  method="POST" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="organID" class="col-md-2 col-form-label">Organ Name : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <select class="form-control select2" id="organID" name="organ" required>
                            <option selected>Select Organ Name</option>
                            {% for item in organ_data %}
                            {% if item.name == organ_problem_specification_data.organ %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select a body part name.</div>
                    </div>
                </div>
                <hr>
                <!-- Add form fields here -->
                <div class="row mb-3">
                    <label for="problemID" class="col-md-2 col-form-label">Problem : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <input type="text" value="{{ organ_problem_specification_data.problem}}" class="form-control"
                               id="problemID" name="problem" required/>
                        <div class="invalid-feedback">Please enter an organ problem name.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="problemSpecificationID" class="col-md-2 col-form-label">Problem Speci : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <textarea name="problem_specification" id="problemSpecificationID" class="form-control"
                                  cols="30" rows="10" required>{{ organ_problem_specification_data.problem_specification }}
                        </textarea>
                        <div class="invalid-feedback">Please enter an organ problem specification.</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning float-right">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
        });
        $('#organID').select2({
            theme: "classic",  // Add the theme option here
            escapeMarkup: function (markup) {
                return markup;
            },
            minimumInputLength: 0,
            data: [{% for item in problem_data %} {id: '{{ item.id }}', text: '{{ item.problem }} ({{ item.organ }})'}, {% endfor %}],
            templateResult: function(data) {
                return data.text;
            },
            templateSelection: function(data) {
                return data.text;
            }
        });
     });
</script>
<script src="{% static 'adminlte_assets/js/section-callback.js' %}"></script>
{% endblock %}