{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark">
            <h1 class="card-title">Edit Organ Problem Specification Details</h1>
        </div>
        <div class="card-body">
            <form id="PostForm" action="{% url 'edit_organ_problem_specification' organ_problem_specification_data.id %}" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="specialtySelect" class="col-md-2 col-form-label">Organ Name</label>
                    <div class="col-md-10">
                        <select class="form-control select2" id="specialtySelect" name="organ">
                            <option selected>Select Body Part Name</option>
                            {% for item in organ_data %}
                            {% if item.name == organ_problem_specification_data.organ %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <hr>
                <!-- Add form fields here -->
                <div class="row mb-3">
                    <label for="problemID" class="col-md-2 col-form-label">Problem</label>
                    <div class="col-md-10">
                        <input type="text" value="{{ organ_problem_specification_data.problem}}" class="form-control" id="problemID"
                               name="problem"/>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="problemSpecificationID" class="col-md-2 col-form-label">Problem Speci.</label>
                    <div class="col-md-10">
                        <textarea name="problem_specification" id="problemSpecificationID" type="text" class="form-control"
                                  cols="30"
                                  rows="10">{{ organ_problem_specification_data.problem_specification }}</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning float-right">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}