{% load static %}
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <!-- Dashboard -->
            <li class="nav-item mainItem">
                <a href="{% url 'doctor_dashboard' %}" class="nav-link">
                    <i class="nav-icon fas fa-align-justify"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>
            <li class="nav-item mainItem">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-pills"></i>
                    <p>
                        Medicine
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item nav-child">
                        <a href="{% url 'add_medicine_form' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Medicine</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'medicine_list'%}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Medicines</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Doctor data modification-->
            <li class="nav-item mainItem">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-user-md"></i>
                    <p>
                        Doctor Modification
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item nav-child">
                        <a href="{% url 'working_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Doctors Working Details</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'edu_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Doctors Education Details</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a class="nav-link" href="{% url 'social_list' %}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Doctors Social Details</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'award_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Doctors Awards Details</p>
                        </a>
                    </li>
                </ul>
            </li>
            <li class="nav-item mainItem">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-file-medical"></i>
                    <p>
                        Prescription
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item nav-child">
                        <a href="{% url 'add_prescription_form' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Prescription</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'lab_prescription_form' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Lab Test</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'medine_prescription_list'%}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Prescriptions</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'lab_prescription_list'%}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Lab Test</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Patient History -->
            <li class="nav-item mainItem">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-notes-medical"></i>
                    <p>
                        Patient History
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item nav-child">
                        <a href="{% url 'medine_prescription_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Patient Prescriptions</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'medicine_list'%}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Patient Appointments</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Article -->
            <li class="nav-item mainItem">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-newspaper"></i>
                    <p>
                        Article
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item nav-child">
                        <a href="{% url 'article_form' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Article</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'article_all_list'%}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Articles</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Frequently Asked Questions -->
            <li class="nav-item mainItem">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-question"></i>
                    <p>
                        FAQ
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item nav-child">
                        <a href="{% url 'add_faq_form' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Question</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'faq_all_list'%}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Answers</p>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>
</div>