{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark">
            <h1 class="card-title">Edit Department Specification Information</h1>
        </div>
        <div class="card-body">
            <form id="PostForm" action="{% url 'edit_department_specification' department_specification_data.id %}"
                  method="POST" class="needs-validation" novalidate>
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="departmentID" class="col-md-2 col-form-label">Department Name : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <select class="form-control select2" id="departmentID" name="department" required>
                            <option selected disabled value="">Select Department Name</option>
                            {% for item in department_data %}
                            {% if item.name == department_specification_data.department %}
                            <option value="{{ item.id }}" selected>{{ item.name }}</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select department name.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="problemSpecificationID" class="col-md-2 col-form-label">Problem : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <select class="form-control select2" id="problemSpecificationID"
                                name="organ_problem_specification" required>
                            <option selected disabled value="">Select Problem</option>
                            {% for item in problem_data %}
                            {% if item.problem == department_specification_data.problem %}
                            <option value="{{ item.id }}" selected>{{ item.problem }} ({{ item.organ }})</option>
                            {% else %}
                            <option value="{{ item.id }}">{{ item.problem }} ({{ item.organ }})</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                        <div class="invalid-feedback">Please select problem name.</div>
                    </div>
                </div>
                <hr>
                <!-- Add form fields here -->
                <div class="row mb-3">
                    <label for="descriptionID" class="col-md-2 col-form-label">Description : </label>
                    <div class="col-md-10">
                        <textarea name="description" id="descriptionID" class="form-control" cols="30" rows="10"
                                  required>{{ department_specification_data.description }}</textarea>
                        <div class="invalid-feedback">Please enter a description name.</div>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning float-right">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
        });
        // Initialize select2 with search box for department dropdown
        $('#departmentID').select2({
            theme: "classic",  // Add the theme option here
            escapeMarkup: function (markup) {
                return markup;
            },
            minimumInputLength: 0,
            data: [{% for item in department_data %} {id: '{{ item.id }}', text: '{{ item.name }}'}, {% endfor %}],
            templateResult: function(data) {
                return data.text;
            },
            templateSelection: function(data) {
                return data.text;
            }
        });

        // Initialize select2 with search box for problem dropdown
        $('#problemSpecificationID').select2({
            theme: "classic",  // Add the theme option here
            escapeMarkup: function (markup) {
                return markup;
            },
            minimumInputLength: 0,
            data: [{% for item in problem_data %} {id: '{{ item.id }}', text: '{{ item.problem }} ({{ item.organ }})'}, {% endfor %}],
            templateResult: function(data) {
                return data.text;
            },
            templateSelection: function(data) {
                return data.text;
            }
        });
     });
</script>
{% endblock %}