{% extends 'templates/landing/landing_layout.html' %}
{% load static %}

{% block styles %}
<style>
  #faq {
      background: url("{% static 'landing_assets/img/hero-bg.png' %}") center center no-repeat;
  }




</style>
{% endblock %}

{% block content %}
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq">
    <div class="container pt-4">
        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
            <p>Questions and answer are dynamic.</p>
        </div>

        <div class="faq-list">
            <ul>
                {% for data in all_data %}
                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i>
                    <a data-bs-toggle="collapse" data-bs-target="#faq-list-{{ forloop.counter }}" class="collapsed">
                        {{data.question}}<i class="bx bx-chevron-down icon-show"></i><i
                                class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-{{counter}}" class="collapse" data-bs-parent=".faq-list">
                        <p>{{ data.answer}}</p>
                    </div>
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
</section>
<!-- End Frequently Asked Questions Section -->
{% endblock %}

{% block scripts %}

{% endblock %}
