{% extends 'templates/landing/landing_layout.html' %}
{% load static %}

{% block styles %}
<style>
    #register {
        background: url("{% static 'landing_assets/img/hero-bg.png' %}") center center no-repeat;
    }
</style>

{% endblock %}

{% block content %}
<!-- ======= Login Section ======= -->
<section id="register">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <img src="{% static 'landing_assets/img/gummy-medical-lab.png' %}" class="img-fluid"
                     style="width: 100%">
            </div>
            <div class="col-md-6">
                <div style="padding-top: 25% !important;"></div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title text-center">Login Page</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group mb-3">
                                <input type="email" class="form-control" id="email" placeholder="Enter your email"
                                       required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="password" class="form-control" id="password"
                                       placeholder="Enter your password" required>
                            </div>
                            <div class="text-center mb-3">
                                <button type="submit" class="btn btn-sm btn-success">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Login Section -->
{% endblock %}

{% block scripts %}
{% endblock %}