{% extends 'templates/landing/landing_layout.html' %}
{% load static %}

{% block styles %}
<style>
    #predictor {
        background: url("{% static 'landing_assets/img/hero-bg.png' %}") center center no-repeat;
    }
</style>

{% endblock %}

{% block content %}
<!-- ======= Login Section ======= -->
<section id="predictor">
    <div class="container">
        <form id="PostForm" action="{% url 'store_organ' %}" method="POST">
            <div class="row">
                <label for="specialtySelect" class="col-md-2 col-form-label">Body Part Name</label>
                <div class="col-md-10">
                    <select class="form-control select2" id="specialtySelect" name="body_part">
                        <option selected>Select Body Part Name</option>
                        {% for item in bodypart_data %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="row">
                <label for="specialtySelect" class="col-md-2 col-form-label">Organ Name</label>
                <div class="col-md-10">
                    <select class="form-control select2" id="specialtySelect" name="organ">
                        <option selected>Select Organ Name</option>
                        {% for item in organ_data %}
                        <option value="{{ item.id }}">{{ item.name }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </form>
        <div class="row ">

        </div>
    </div>
</section>
<!-- End Login Section -->
{% endblock %}

{% block scripts %}
{% endblock %}