<!DOCTYPE html>
<html>

<head>
  <title>Doctor Form</title>
</head>

<body>
  <h1>Doctor Post Form</h1>
  <form id="PostForm" action="{% url 'add_doctor' %}">
    {% csrf_token %}
    <!-- Add form fields here -->
    <label for="doctorNameId">Doctor Name:</label>
    <input type="text" id="doctorNameId" name="name" required />

    <button type="submit">Submit</button>
  </form>

  <script>
    document.getElementById('PostForm').addEventListener('submit', function (event) {
      event.preventDefault() // Prevent the form from submitting normally

      // Get form data
      const formData = new FormData(event.target)
      const jobPostData = Object.fromEntries(formData.entries())

      // Make API call to create job post
      fetch('/api/add/doctor/', {
        method: 'POST',
        body: JSON.stringify(jobPostData),
        headers: {
          'Content-Type': 'application/json'
        }
      })
        .then((response) => response.json())
        .then((data) => {
          if (response.status === 200) {
            // Show success message
            console.log('Success:', data.message)
            // Clear form fields or show a success message to the user
          } else {
            // Show error message
            console.log('Error:', data.message)
            // Display the error message to the user
          }
        })
        .catch((error) => {
          console.error('Error:', error)
          // Display the error message to the user
        })
    })
  </script>
</body>

</html>