{% extends 'templates/base.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <h1>Organ Problem Data Table</h1>
    <div class="card">
        <div class="card-body">
            <table id="dataTable" class="table">
                <thead>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Oragn Name</th>
                        <th scope="col">Organ Problem Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in datas %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.organ_name }}</td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.description }}</td>
                        <td>
                            <button class="btn btn-danger">
                                <i class="fas fa-edit"></i>Edit
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-danger">
                                <i class="fas fa-trash"></i>Delete
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Oragn Name</th>
                        <th scope="col">Organ Problem Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="{%static 'assets/vendor/jquery-3.6.3/jquery-3.6.3.min.js'%}"></script>
<script src="{%static 'assets/vendor/DataTables/dataTables.min.js'%}"></script>
<script src="{%static 'assets/vendor/DataTables/dataTables.bootstrap5.min.js'%}"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/api/organ/problem/list/",
            method: "GET",
            success: function (data) {
                var table = $("#dataTable").DataTable({
                    data: data,
                    columns: [
                        { data: "id" },
                        { data: "organ" },
                        { data: "name" },
                        { data: "description" },
                        {
                            data: null,
                            render: function () {
                                return '<button class="btn btn-info"><i class="fas fa-edit"></i></button>';
                            }
                        },
                        {
                            data: null,
                            render: function () {
                                return '<button class="btn btn-danger"><i class="fas fa-trash"></i></button>';
                            }
                        }
                    ]
                });
            }
        });
    });
</script>
{% endblock %}