{% extends 'templates/base.html' %}
{% load static %}

{% block content %}
<table id="data-table" class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Department Name</th>
        </tr>
    </thead>
    <tbody>
        {% for data in datas %}
        <tr>
            <td>#</td>
            <td>{{ data.id }}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.description }}</td>
            <td>{{ data.department_name }}</td> <!-- Update variable name here -->
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block script %}
<script src="{% static 'js/jquery-3.6.0.min.js'%}"></script>
<script>
    $(function () {
        // Fetch data from the API
        $.get("/api/doctors/list/", function (data) {
            var tableBody = $("#data-table tbody");
            tableBody.empty(); // Clear existing table rows
            // Render table rows using fetched API data
            data.forEach(function (data) {
                var row = $("<tr>");
                var cell1 = $("<td>").text("#");
                var cell2 = $("<td>").text(data.id);
                var cell3 = $("<td>").text(data.name);
                var cell4 = $("<td>").text(data.description);
                var cell5 = $("<td>").text(data.department); // Update variable name here

                row.append(cell1, cell2, cell3, cell4, cell5);
                tableBody.append(row);
            });
        });
    });
</script>
{% endblock %}