{% extends 'landing_layout.html' %}
{% load static %}

{% block styles %}
<style>
    #register {
        background: url("{% static 'landing_assets/img/hero-bg.png' %}") center center no-repeat;
    }
</style>
{% endblock %}

{% block content %}
<!-- ======= Login Section ======= -->
<section id="register">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <img src="{% static 'landing_assets/img/gummy-medical-lab.png' %}" class="img-fluid"
                     style="width: 100%">
            </div>
            <div class="col-md-5">
                <div style="padding-top:20px !important;"></div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title text-center">Patient Registration Form</h4>
                    </div>
                    <div class="card-body">
                        <form id="PostForm" action="{% url 'store_patient' %}" method="POST" class="needs-validation"
                              novalidate>
                            {% csrf_token %}
                            <!-- Full Name -->
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" name="full_name" id="fullNameID"
                                       placeholder="Full Name" required>
                                <div class="invalid-feedback">Please enter your full name.</div>
                            </div>

                            <!-- Email -->
                            <div class="form-group mb-3">
                                <input type="email" class="form-control" name="email" id="emailID" placeholder="Email"
                                       required>
                                <div id="emailAvailability" class="invalid-feedback"></div>
                                <div class="invalid-feedback">Please enter a valid email address.</div>
                            </div>

                            <!-- Username -->
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" name="user_name" id="usernameID"
                                       placeholder="Username" required>
                                <div id="usernameError" class="invalid-feedback"></div>
                                <div id="usernameAvailability" class="invalid-feedback"></div>
                                <div class="invalid-feedback">Please enter a username.</div>
                            </div>

                            <!-- Password -->
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input class="form-control password-field" id="passwordID" name="password"
                                               type="password" placeholder="Password" required>
                                        <div class="invalid-feedback">Please enter a password.</div>
                                        <span class="input-group-text toggle-password bg-transparent"
                                              data-target="passwordID"><i class="fas fa-eye-slash"></i></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Confirm Password -->
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input class="form-control password-field" id="conPasswordID"
                                               name="con_password" type="password" placeholder="Confirm Password"
                                               required>
                                        <div id="conPasswordError" class="invalid-feedback"></div>
                                        <div class="invalid-feedback">Please confirm your password.</div>
                                        <span class="input-group-text toggle-password bg-transparent"
                                              data-target="conPasswordID"><i class="fas fa-eye-slash"></i></span>
                                    </div>
                                </div>
                            </div>

                            <!-- Submit Button -->
                            <div class="text-center mb-3">
                                <button type="submit" class="btn btn-success">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Login Section -->
{% endblock %}

{% block scripts %}
<script>
    (function () {
        'use strict';

        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }

                    form.classList.add('was-validated');
                }, false);
            });
    })();

    $(document).ready(function () {
        // check user-name is available
        const usernameField = $('#usernameID');
        const usernameAvailability = $('#usernameAvailability');
        const usernameError = $('#usernameError');

        // check user-email is available
        const emailField = $('#emailID');
        const emailAvailability = $('#emailAvailability');
        const emailError = $('#emailError');

        const togglePasswordIcons = $('.toggle-password');
        const passwordField = $('#passwordID');
        const conPasswordField = $('#conPasswordID');
        const form = $('#PostForm');
        const errorMessage = $('.con-pass-error-message');
        const passwordErrorMessage = $('.pass-error-message');

        // Event listener for input on username field
        usernameField.on('input', function () {
            checkUsernameAvailability(usernameField.val());
        });

        // Event listener for input on email field
        emailField.on('input', function () {
            checkEmailAvailability(emailField.val());
        });

        // Function to check username availability
        const checkUsernameAvailability = function (username) {
            const url = `/user-check-username-availability/${username}/`;

            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.message === "Username already taken") {
                        usernameError.text('Username already taken'); // Display username error
                        usernameField.addClass('is-invalid'); // Highlight username field
                        usernameAvailability.text(''); // Clear username availability message
                    } else {
                        usernameError.text(''); // Clear username error
                        usernameField.removeClass('is-invalid'); // Remove highlighting
                        usernameAvailability.text(''); // Clear username availability message
                    }
                },
                error: function (error) {
                    console.error('Error checking username availability:', error);
                }
            });
        };

        // Function to check email availability
        const checkEmailAvailability = function (email) {
            const url = `/user-check-email-availability/${email}/`;

            $.ajax({
                url: url,
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    if (data.message === "This email already used. Please try another.") {
                        emailError.text('This email is already used our system. Please try another.'); // Display email error
                        emailField.addClass('is-invalid'); // Highlight email field
                        emailAvailability.text(''); // Clear email availability message
                    } else {
                        emailError.text(''); // Clear email error
                        emailField.removeClass('is-invalid'); // Remove highlighting
                        emailAvailability.text(''); // Clear email availability message
                    }
                },
                error: function (error) {
                    console.error('Error checking email availability:', error);
                }
            });
        };

        togglePasswordIcons.on('click', function () {
            const targetId = $(this).data('target');
            const field = $('#' + targetId);

            const type = field.attr('type') === 'password' ? 'text' : 'password';
            field.attr('type', type);

            // Toggle eye icon
            $(this).html(type === 'password' ? '<i class="fas fa-eye-slash"></i>' : '<i class="fas fa-eye"></i>');
        });

        // Function to clear error messages for password
        const clearPasswordError = function () {
            passwordErrorMessage.text('');
        };

        // Function to clear error messages for confirm password
        const clearConfirmPasswordError = function () {
            errorMessage.text('');
        };

        // Event listener for input on password field
        passwordField.on('input', function () {
            clearPasswordError();
        });

        // Event listener for input on confirm password field
        conPasswordField.on('input', function () {
            clearConfirmPasswordError();
        });

        form.on('submit', function (event) {
            let hasErrors = false;

            // Reset error messages
            passwordErrorMessage.text('');
            errorMessage.text('');
            $('#emailError').text(''); // Clear email error
            $('#emailID').removeClass('is-invalid'); // Remove email highlighting
            $('#conPasswordError').text(''); // Clear password confirmation error
            $('#conPasswordID').removeClass('is-invalid'); // Remove password confirmation highlighting



            // Password validation
            if (passwordField.val().trim() === '') {
                passwordErrorMessage.text('Password cannot be empty');
                $('#passwordID').addClass('is-invalid');
                hasErrors = true;
            }

            // Confirm Password validation
            if (conPasswordField.val().trim() === '') {
                $('#conPasswordError').text('Confirm Password cannot be empty');
                $('#conPasswordID').addClass('is-invalid');
                hasErrors = true;
            } else if (passwordField.val() !== conPasswordField.val()) {
                $('#conPasswordError').text('Passwords do not match!');
                $('#conPasswordID').addClass('is-invalid');
                hasErrors = true;
            }

            if (hasErrors) {
                event.preventDefault(); // Prevent form submission if there are errors
            }
        });
    });
    // Example starter JavaScript for disabling form submissions if there are invalid fields
</script>
{% endblock %}
