{% extends 'landing_layout.html' %}
{% load static %}

{% block styles %}
<style>
    #register {
        background: url("{% static 'landing_assets/img/hero-bg.png' %}") center center no-repeat;
    }
</style>

{% endblock %}

{% block content %}
<!-- ======= Login Section ======= -->
<section id="register">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <img src="{% static 'landing_assets/img/gummy-medical-lab.png' %}" class="img-fluid"
                     style="width: 100%">
            </div>
            <div class="col-md-5">
                <div style="padding-top:20px !important;"></div>
                <div class="card">
                    <div class="card-header">
                        <h4 class="card-title text-center">Patient Registration Form</h4>
                    </div>
                    <div class="card-body">
                        <form id="PostForm" action="{% url 'store_patient' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" name="full_name" id="fullNameId"
                                       placeholder="Full Name" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="email" class="form-control" name="email" id="emailId" placeholder="Email"
                                       required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" name="user_name" id="usernameID"
                                       placeholder="Username" required>
                            </div>
                            <div class="form-group mb-3">
                                <div class="input-group">
                                    <input type="password" class="form-control" name="password" id="password"
                                           placeholder="Password" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text eye-icon"
                                              onclick="togglePasswordVisibility('password')">&#128065;</span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group mb-3">
                                <div class="input-group">
                                    <input type="password" class="form-control" name="confirm_password"
                                           id="confirmPassword" placeholder="Confirm Password" required>
                                    <div class="input-group-append">
                                        <span class="input-group-text eye-icon"
                                              onclick="togglePasswordVisibility('confirmPassword')">&#128065;</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center mb-3">
                                <button type="submit" class="btn btn-success">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Login Section -->
{% endblock %}

{% block scripts %}
<script>
    function togglePasswordVisibility(fieldId) {
        const passwordInput = document.getElementById(fieldId);
        const eyeIcon = document.querySelector(`[onclick="togglePasswordVisibility('${fieldId}')"]`);

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            eyeIcon.innerHTML = '👁️'; // Open eye icon
        } else {
            passwordInput.type = "password";
            eyeIcon.innerHTML = '👁️‍🗨️'; // Closed eye icon
        }
    }

    function checkPasswordMatch() {
        const password = document.getElementById('password').value;
        const confirmPassword = document.getElementById('confirmPassword').value;

        if (password !== confirmPassword) {
            alert("Passwords do not match!");
            // You can also update the UI to show an error message or style the input fields differently.
        } else {
            alert("Passwords match!");
            // Continue with your form submission logic or other actions.
        }
    }
</script>
{% endblock %}

