{% extends 'templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Edit Doctor Information</h1>
        </div>
        <div class="card-body">
            <form id="PostForm" action="#" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="specialtySelect" class="col-md-2 col-form-label">Department Name</label>
                    <div class="col-md-10">
                        <select class="form-control select2" id="specialtySelect" name="department">
                            <option selected>Select Department Name</option>
                            {% for item in api_data %}
                            <option value="{{ item.value }}">{{ item.label }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <hr>
                <!-- Add form fields here -->
                <div class="row mb-3">
                    <label for="doctorNameId" class="col-md-2 col-form-label">Doctor Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="doctorNameId" name="name"/>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="descriptionId" class="col-md-2 col-form-label">Description</label>
                    <div class="col-md-10">
            <textarea name="description" id="descriptionId" type="text" class="form-control" cols="30"
                      rows="10"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-warning float-right">Update</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    fetch('/api/department/list/')  // Replace with your API endpoint URL
        .then(response => response.json())
        .then(data => {
            const selectElement = document.getElementById('specialtySelect');
            data.forEach(item => {
                const option = document.createElement('option');
                option.value = item.id;
                option.textContent = item.name;
                selectElement.appendChild(option);
            });
        })
        .catch(error => {
            console.error('Error:', error);
        });
</script>
{% endblock %}
