{% extends 'templates/admin/admin_layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'adminlte_assets/data_tables/css/datatable.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte_assets/data_tables/css/datatable_button.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte_assets/data_tables/css/datatable_responsive.min.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Doctors</h1>
        </div>
        <div class="card-body">
            <table id="bodyPartData" class="table table-sm table-bordered table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Department</th>
                    <th>Doctor Name</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for data in all_data %}
                <tr>
                    <td>{{ forloop.counter }}</td>  {# Use 'forloop.counter' to get the loop counter #}
                    <td>{{ data.department }}</td>
                    <td>{{ data.name }}</td>
                    <td>{{ data.description }}</td>
                    <td>
                        <a href="">
                            <button class="btn btn-sm btn-info">
                                <i class="fas fa-edit"></i>
                            </button>
                        </a>
                    </td>
                    <td>
                        <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $("#bodyPartData").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "order": false,
            "buttons": ["copy", "csv", "excel", "print", "colvis"]
        }).buttons().container().appendTo('#bodyPartData_wrapper .col-md-6:eq(0)');
    });
</script>

<!-- DataTables  & Plugins -->
<script src="{% static 'adminlte_assets/data_tables/js/datatable.min.js' %}"></script>
<script src="{% static 'adminlte_assets/data_tables/js/datatable_button.min.js' %}"></script>
<script src="{% static 'adminlte_assets/data_tables/js/datatable_responsive.min.js' %}"></script>

<script src="{% static 'adminlte_assets/js/data_table_settings.js' %}"></script>
{% endblock %}