{% load static %}
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">

            <!-- Dashboard -->
            <li class="nav-item mainItem">
                <a href="{% url 'admin_dashboard' %}" class="nav-link">
                    <i class="nav-icon fas fa-align-justify"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>

            <!-- Body Part -->
            <li class="nav-item mainItem">
                <a href="javascript:void(0)" class="nav-link">
                    <i class="nav-icon fas fa-hospital-user"></i>
                    <p>
                        Body Part
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item nav-child">
                        <a href="{% url 'add_bodypart_form' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Body Part</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'bodypart_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Body Parts</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Organ -->
            <li class="nav-item mainItem">
                <a href="javascript:void(0)" class="nav-link">
                    <i class="nav-icon fas fa-lungs"></i>
                    <p>
                        Organ
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item nav-child">
                        <a href="{% url 'add_organ_form' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Organ</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'organ_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Organs</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- organ Problem -->
            <li class="nav-item mainItem">
                <a href="javascript:void(0)" class="nav-link">
                    <i class="nav-icon fas fa-lungs-virus"></i>
                    <p>
                        Problem Spec.
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item nav-child">
                        <a href="{% url 'add_organ_problem_specification_form' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Problem Spec.</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'organ_problem_specification_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Problem Spec.</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Department -->
            <li class="nav-item mainItem">
                <a href="javascript:void(0)" class="nav-link">
                    <i class="nav-icon fas fa-hotel"></i>
                    <p>
                        Department
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item nav-child">
                        <a href="{% url 'add_department_form' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Department</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'department_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Departments</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Department Specification -->
            <li class="nav-item mainItem">
                <a href="javascript:void(0)" class="nav-link">
                    <i class="nav-icon fas fa-building"></i>
                    <p>
                        Dept. Specification
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item nav-child">
                        <a href="{% url 'add_department_specification_form' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Dept. Specification</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'department_specification_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Dept. Specifications</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Doctor -->
            <li class="nav-item mainItem">
                <a href="javascript:void(0)" class="nav-link">
                    <i class="nav-icon fas fa-user-md"></i>
                    <p>
                        Doctor<i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item nav-child">
                        <a href="{% url 'add_doctor_form' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Doctor</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a class="nav-link" href="{% url 'add_doctor_work_details_form' %}">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add work Details</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'doctor_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Doctors</p>
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Frequently Asked Questions -->
            <li class="nav-item mainItem">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-question"></i>
                    <p>
                        FAQ
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item nav-child">
                        <a href="{% url 'add_faq_form' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Question</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'faq_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Answers</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Article -->
            <li class="nav-item mainItem">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-newspaper"></i>
                    <p>
                        Article
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item nav-child">
                        <a href="{% url 'add_article_form' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Add Article</p>
                        </a>
                    </li>
                    <li class="nav-item nav-child">
                        <a href="{% url 'article_list' %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>All Articles</p>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>
    <!-- /.sidebar-menu -->
</div>
