{% extends 'templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Add Organ</h1>
        </div>
        <div class="card-body">
            <form id="PostForm" action="{% url 'store_organ' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="specialtySelect" class="col-md-2 col-form-label">Body Part Name</label>
                    <div class="col-md-10">
                        <select class="form-control select2" id="specialtySelect" name="body_part">
                            <option value="" selected>Select Body Part Name</option>
                            {% for item in bodypart_data %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <hr>
                <div class="d-none" id="section-template">
                    <br>
                    <div class="card sections">
                        <div class="card-header">
                            <h5 class="card-title">No 0</h5>
                        </div>
                        <div class="card-body">
                            <!-- Organ -->
                            <div class="row mb-3">
                                <label class="col-md-2 col-form-label font-weight-bold">Organ :</label>
                                <div class="col-md-10">
                                    <input type="text" class="form-control" minlength="3" maxlength="255" size="255"
                                           name="names[]"/>
                                </div>
                            </div>
                            <!-- Description -->
                            <div class="row mb-3">
                                <label class="col-md-2 col-form-label font-weight-bold">Description
                                    :</label>
                                <div class="col-md-10">
                                    <textarea class="form-control" cols="30" rows="2" minlength="3"
                                              maxlength="1000" size="1000" name="descriptions[]"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <!-- Add More Button -->
                            <div class="form-group d-inline pr-3 float-right">
                                <button type="button" onclick="addSection()" class="btn btn-primary add-more-button"
                                        data-toggle="tooltip" data-placement="top" title="Add More">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                            <!-- Close Button -->
                            <div class="form-group d-inline pr-3 float-right">
                                <button type="button" onclick="removeSection(this)"
                                        class="btn btn-danger remove-button" data-toggle="tooltip"
                                        data-placement="top"
                                        title="Remove">
                                    <i class="fas fa-minus"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Section Container -->
                <div id="sections-container">
                </div>
                <!-- Submit Button -->
                <button type="submit" class="btn btn-sm btn-success float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'adminlte_assets/js/section-callback.js' %}"></script>
{% endblock %}
