{% extends 'templates/admin_layout.html' %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'adminlte_assets/data_tables/css/datatable.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte_assets/data_tables/css/datatable_button.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte_assets/data_tables/css/datatable_responsive.min.css' %}">
{% endblock %}


{% block content %}
<div class="container mt-4">
    <h1>Organ Data Table</h1>
    <div class="card">
        <div class="card-body">
            <table id="bodyPartData" class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Body Part</th>
                        <th>Organ</th>
                        <th>Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in datas %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.bodypart_name }}</td>
                        <td>{{ data.name }}</td>
                        <td>{{ data.description }}</td>
                        <td>
                            <button class="btn btn-sm btn-info"><i class="fas fa-edit"></i></button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <th>Id</th>
                        <th>Body Part</th>
                        <th>Organ</th>
                        <th>Description</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/api/organ/list/",
            method: "GET",
            success: function (data) {
                var table = $("#bodyPartData").DataTable({
                    data: data,
                    columns: [
                        { data: "id" },
                        { data: "bodypart" },
                        { data: "name" },
                        { data: "description" },
                        {
                            data: null,
                            render: function () {
                                return '<button class="btn btn-sm btn-info"><i class="fas fa-edit"></i></button>';
                            }
                        },
                        {
                            data: null,
                            render: function () {
                                return '<button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>';
                            }
                        }
                    ],
                    "responsive": true,
                    "lengthChange": false,
                    "autoWidth": false,
                    "order": false,
                    "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                }).buttons().container().appendTo('#bodyPartData_wrapper .col-md-6:eq(0)');
            }
        });
    });
</script>

<!-- DataTables  & Plugins -->
<script src="{% static 'adminlte_assets/data_tables/js/datatable.min.js' %}"></script>
<script src="{% static 'adminlte_assets/data_tables/js/datatable_button.min.js' %}"></script>
<script src="{% static 'adminlte_assets/data_tables/js/datatable_responsive.min.js' %}"></script>

<script src="{% static 'adminlte_assets/js/data_table_settings.js' %}"></script>
{% endblock %}