{% extends 'templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">organ_data Details</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"><strong>Body Part Name:</strong></div>
                <div class="col-md-9">{{ organ_data.bodypart }}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>Organ Name:</strong></div>
                <div class="col-md-9">{{ organ_data.name }}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>Description :</strong></div>
                <div class="col-md-9">{{ organ_data.description }}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>Created At :</strong></div>
                <div class="col-md-9">{{ organ_data.created_at }}</div>
            </div>           
            <div class="row">
                <div class="col-md-3"><strong>Updated At :</strong></div>
                <div class="col-md-9">{{ organ_data.updated_at }}</div>
            </div>
            <!-- Add more rows for additional fields -->
        </div>
    </div>
</div>
{% endblock %}