{% extends 'templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Add Doctor</h1>
        </div>
        <div class="card-body">
            <form id="PostForm" action="{% url 'store_doctor' %}" method="POST">
                {% csrf_token %}

                {% if not department_data %}
                <div class="alert alert-default-warning">
                    <strong>Warning!</strong> Please <a href="{% url 'add_department_form' %}" class="text-dark">Add department</a> first.
                </div>
                {% else %}
                <div class="row mb-3">
                    <label for="specialtySelect" class="col-md-2 col-form-label">Department Name</label>
                    <div class="col-md-10">
                        <select class="form-control select2" id="specialtySelect" name="department">
                            <option selected>Select Department Name</option>
                            {% for item in department_data %}
                            <option value="{{ item.id }}">{{ item.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                {% endif %}
                <hr>
                <!-- Add form fields here -->
                <div class="row mb-3">
                    <label for="doctorNameId" class="col-md-2 col-form-label">Doctor Name</label>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="doctorNameId" name="name"/>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="descriptionId" class="col-md-2 col-form-label">Description</label>
                    <div class="col-md-10">
            <textarea name="description" id="descriptionId" type="text" class="form-control" cols="30"
                      rows="10"></textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-sm btn-success float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}