{% extends 'templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Add Body Part</h1>
        </div>
        <div class="card-body">
            <form id="PostForm" action="{% url 'store_bodypart' %}" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="bodyPartNameId" class="col-md-2 col-form-label">Body Part Name</label>
                    <div class="col-md-10">
                        <input class="form-control" id="bodyPartNameId" name="name" type="text"/>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="descriptionId" class="col-md-2 col-form-label">Description</label>
                    <div class="col-md-10">
                        <textarea class="form-control" cols="30" id="descriptionId" name="description"
                                  rows="2" type="text">{{ data.description|default:"N/A" }}</textarea>
                    </div>
                </div>
                <button type="submit" class="btn btn-success float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}