<nav class="bg-dark navbar navbar-expand-lg py-3 navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'dashboard' %}">Personalized Doctor Predctor</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">BodyPart</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'add_bodypart_form' %}">Add BodyPart</a></li>
            <li><a class="dropdown-item" href="{% url 'bodypart_list' %}">All BodyPart</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Organ</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'add_organ_form' %}">Add Organ</a></li>
            <li><a class="dropdown-item" href="{% url 'organ_list' %}">All Organs</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Organ Problem</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'add_organ_problem_form' %}">Add Organ Problem</a></li>
            <li><a class="dropdown-item" href="{% url 'organ_problem_list' %}">All Organs Problem</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Problem Specification</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'add_problem_specification_form' %}">Add Problem Specifications</a></li>
            <li><a class="dropdown-item" href="{% url 'problem_specification_list' %}">All Problem Specifications</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Department</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'add_department_form' %}">Add Department</a></li>
            <li><a class="dropdown-item" href="{% url 'department_list' %}">All Departments</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Doctor</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'add_doctor_form' %}">Add Doctor</a></li>
            <li><a class="dropdown-item" href="{% url 'doctor_list' %}">All Doctors</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Department Specification</a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'add_department_specification_form' %}">Add Department Specification</a></li>
            <li><a class="dropdown-item" href="{% url 'department_specification_list' %}">All Department Specifications</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>