<nav class="navbar navbar-expand-lg navbar-dark bg-success py-3 text-white">
  <div class="container-fluid">
    <strong class="navbar-brand text-white" href="">Doctor Predctor</strong>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" aria-current="page" href="{% url 'dashboard' %}">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bodypart</a>
          <ul>
            <li><a class="nav-link" href="{% url 'add_bodypart_form' %}">Add BodyPart</a></li>
            <li><a class="nav-link" href="{% url 'bodypart_list' %}">All BodyPart</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Organ</a>
          <ul>
            <li><a class="nav-link" href="{% url 'add_organ_form' %}">Add Organ</a></li>
            <li><a class="nav-link" href="{% url 'organ_list' %}">All Organ</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Organ Problem</a>
          <ul>
            <li><a class="nav-link" href="{% url 'add_organ_problem_form' %}">Add Organ Problem</a></li>
            <li><a class="nav-link" href="{% url 'organ_problem_list' %}">All Organs Problem</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Problem Specification</a>
          <ul>
            <li><a class="nav-link" href="{% url 'add_problem_specification_form' %}">Add Problem Specifications</a></li>
            <li><a class="nav-link" href="{% url 'problem_specification_list' %}">All Problem Specifications</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Department</a>
          <ul>
            <li><a class="nav-link" href="{% url 'add_department_form' %}">Add Department</a></li>
            <li><a class="nav-link" href="{% url 'department_list' %}">All Departments</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Doctor</a>
          <ul>
            <li><a class="nav-link" href="{% url 'add_doctor_form' %}">Add Doctor</a></li>
            <li><a class="nav-link" href="{% url 'doctor_list' %}">All Doctors</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Department Specification</a>
          <ul>
            <li><a class="nav-link" href="{% url 'add_department_specification_form' %}">Add Department Specification</a></li>
            <li><a class="nav-link" href="{% url 'department_specification_list' %}">All Department Specifications</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

