{% extends 'landing_layout.html' %}
{% load static %}

{% block styles %}
<style>
    #doctors {background: url("{% static 'landing_assets/img/hero-bg.png' %}") center center no-repeat;}
    /* Style for the circular radio buttons */
    .circular-radio {
      display: flex;
      align-items: center;
      margin-bottom: 10px;
    }

    .circular-radio input[type='radio'] {
      width: 15px;
      height: 15px;
      margin-right: 10px;
      transform: scale(1.5);
      background-color: blue;
      border: 2px solid blue;
      border-radius: 50%;
    }

    /* Style for the text */
    .circular-radio label {
      font-size: 18px;
    }

    /* Style for the right-side div (initially hidden) */
    .right-side-div {
      float: right;
      width: 50%;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
    }
</style>
{% endblock %}

{% block content %}
<!-- ======= Doctors Section ======= -->
<section id="doctors" class="doctors">
    <div class="container pt-4">
        <div class="text-center">
            <h4><b>Appointment Schedule</b></h4>
        </div>
        <hr/>
        <div class="row">
            <div class="col-6">
                <div class="card">
                    {% for doctor_data in doctor_all_data %}
                    <p class="form-control"><b>Doctor Name : {{ doctor_data.full_name }}</b></p>
                    <p class="form-control"><b>Department Name : {{ doctor_data.department }}</b></p>
                    <p class="form-control"><b>Appointment Date : {{appointment_date}}</b></p>
                    <p class="form-control"><b>Appointment Time : {{appointment_time}}</b></p>
                    {% endfor %}
                </div>
            </div>
            <div class="col-6">
                <div class="card">
                    <div class="registrationNo" id="registrationNo">
                        <form id="PostFormWithID" action="{% url 'appointment_schedule' %}" method="POST">
                            {% csrf_token %}
                            <div class="d-flex justify-content-between">
                                <input type="text" class="form-control m-2" name="registration_no"
                                       placeholder="Registration No"/>
                                <button class="btn btn-success btn-sm m-2">Submit</button>
                            </div>
                        </form>
                        <div class="p-2">
                            <label>If you don't have Registration ID</label>
                            <a href="#" id="showRegisterDivLink">Click Here</a>
                        </div>
                    </div>
                    <div class="registrationForm card-body d-none" id="registrationForm">
                        <form id="PostForm" action="{% url 'appointment_schedule_method' %}" method="POST">
                            {% csrf_token %}
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" name="full_name" id="fullNameId"
                                       placeholder="Full Name" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="email" class="form-control" name="email" id="emailId" placeholder="Email"
                                       required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="text" class="form-control" name="user_name" id="usernameID"
                                       placeholder="Username" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="password" class="form-control" name="password" id="passwordId"
                                       placeholder="Password" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="password" class="form-control" name="confirm_password"
                                       id="confirmPasswordId" placeholder="Confirm Password" required>
                            </div>
                            <div class="text-center mb-3">
                                <button type="submit" class="btn btn-success">Register</button>
                            </div>
                        </form>
                        <div class="m-2">
                            <label>If you have Registration ID</label>
                            <a href="#" id="returnToRegistrationNo">Click Here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
      let registrationFrom = null
      let registrationNo = null
      // Add a click event handler for the "Click Here" link
      $('#showRegisterDivLink').on('click', function (e) {
        e.preventDefault()
        toggleRegistrationFormsVisibility()
      })

      // Add a click event handler for the "Return to Registration No" link
      $('#returnToRegistrationNo').on('click', function (e) {
        e.preventDefault()
        toggleRegistrationFormsVisibility();
      })

      function toggleRegistrationFormsVisibility() {
        // Toggle the visibility of registrationNo and registrationForm
        $('#registrationNo').toggleClass('d-none');
        $('#registrationForm').toggleClass('d-none');
      }
    })
</script>
{% endblock %}

