{% load static %}
<div class="sidebar">
    <!-- Sidebar Menu -->
    <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
            <li class="nav-header">{{ request.session.user_role }} Panel</li>
            <!-- Dashboard -->
            <li class="nav-item mainItem">
                <a href="{% url 'patient_dashboard' %}" class="nav-link">
                    <i class="nav-icon fas fa-align-justify"></i>
                    <p>
                        Dashboard
                    </p>
                </a>
            </li>

            <!-- My Profile -->
            <li class="nav-item mainItem">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-user"></i>
                    <p>
                        My Profile
                        <i class="right fas fa-angle-left"></i>
                    </p>
                </a>
                <ul class="nav nav-treeview">
                    <li class="nav-item nav-child">
                        <a href="{% url 'edit_doctor_form' request.session.user_id %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>Edit Profile</p>
                        </a>
                    </li>
                </ul>
                <ul class="nav nav-treeview">
                    <li class="nav-item nav-child">
                        <a href="{% url 'view_patient_data' request.session.user_id %}" class="nav-link">
                            <i class="far fa-circle nav-icon"></i>
                            <p>View Profile</p>
                        </a>
                    </li>
                </ul>
            </li>
            <!-- Prediction History -->
            <li class="nav-item mainItem">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-history"></i>
                    <p>
                        Prediction History
                    </p>
                </a>
            </li>

            <!-- Doctor's List -->
            <li class="nav-item mainItem">
                <a href="#" class="nav-link">
                    <i class="nav-icon fas fa-user-md"></i>
                    <p>
                        Find Doctors
                    </p>
                </a>
            </li>
        </ul>
    </nav>
</div>