{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark">
            <h1 class="card-title">Add Prescription</h1>
        </div>
        <div class="card-body">
            <form id="PostForm" action="{% url 'store_prescription' %}" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="issueDateID" class="col-md-3 col-form-label">Issue Date :<span
                            class="text-danger">*</span><span
                            class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <input name="issue_date" id="issueDateID" type="date" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="specialtySelect" class="col-md-3 col-form-label">Patient Name :<span
                            class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <select class="form-control select2" id="specialtySelect" name="patient_profile">
                            <option selected>Select Patient Name</option>
                            {% for item in patient_data %}
                            <option value="{{ item.id }}">{{ item.id }} . {{ item.full_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="chiefComplainID" class="col-md-3 col-form-label">Chief Complain :<span
                            class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <textarea name="cc" id="chiefComplainID" type="text" class="form-control" cols="30"
                                  rows="2" placeholder="">{{ data.cc|default:"N/A" }}</textarea>
                        <div id="chiefComplainError" class="error-message"></div> <!-- Error message container -->
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="onExaminationID" class="col-md-3 col-form-label">On Examination :<span
                            class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <textarea name="oe" id="onExaminationID" type="text" class="form-control" cols="30"
                                  rows="2">{{ data.oe|default:"N/A" }}</textarea>
                        <div id="onExaminationError" class="error-message"></div> <!-- Error message container -->
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="onExaminationID" class="col-md-3 col-form-label">Differential Diagnosis</label>
                    <div class="col-md-9">
                        <textarea name="dd" id="differentialDiagnosisID" class="form-control" cols="30"
                                  rows="2">{{ data.dd|default:"N/A" }}</textarea>
                        <div id="differentialDiagnosisError" class="error-message"></div>
                        <!-- Error message container -->
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="adviceID" class="col-md-3 col-form-label">Differential Diagnosis</label>
                    <div class="col-md-9">
                        <textarea name="ad" id="adviceID" class="form-control" cols="30"
                                  rows="2">{{ data.dd|default:"N/A" }}</textarea>
                        <div id="AdviceError" class="error-message"></div>
                        <!-- Error message container -->
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="treatmentListID" class="col-md-3 col-form-label">Treatment List</label>
                    <div class="col-md-9">
                        <textarea name="tl" id="treatmentListID" class="form-control" cols="30"
                                  rows="2">{{ data.dd|default:"N/A" }}</textarea>
                        <div id="treatmentListError" class="error-message"></div>
                        <!-- Error message container -->
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="pastMedicalHistoryID" class="col-md-3 col-form-label">Past Medical History</label>
                    <div class="col-md-9">
                        <textarea name="pmh" id="pastMedicalHistoryID" class="form-control" cols="30"
                                  rows="2">{{ data.dd|default:"N/A" }}</textarea>
                        <div id="pastMedicalHistoryError" class="error-message"></div>
                        <!-- Error message container -->
                    </div>
                </div>
                <hr>
                <div id="labtest-sections">
                    <div class="labtest-section">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label class="col-form-label section-index">Lab Test No 1</label>
                            </div>
                            <div class="col-md-8">
                                <button type="button" class="btn btn-danger remove-labtest-section float-right">
                                    Remove
                                </button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="labTestID" class="col-md-3 col-form-label">Lab Test</label>
                            <div class="col-md-9">
                                <select class="form-control select2 labTestSelect" id="labTestID" name="lab_test[]">
                                    <option selected>Select Lab Test Name</option>
                                    {% for item in labtest_data %}
                                    <option value="{{ item.id }}">{{ item.id }} . {{ item.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <button type="button" class="btn btn-primary add-labtest-section float-right">Add More</button>
                    </div>
                </div>
                <hr>
                <div id="medicine-sections">
                    <div class="medicine-section">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label class="col-form-label section-index">Medicine No 1</label>
                            </div>
                            <div class="col-md-8">
                                <button type="button" class="btn btn-danger remove-medicine-section float-right">
                                    Remove
                                </button>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="medicineID" class="col-md-3 col-form-label">Medicine :<span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <select class="form-control select2" id="medicineID" name="medicine[]">
                                    <option selected>Select Medicine Name</option>
                                    {% for item in medicine_data %}
                                    <option value="{{ item.id }}">{{ item.id }} . {{ item.name }} {{ item.strength }}
                                    </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="medicineScheduleID" class="col-md-3 col-form-label">Medicine Schedule :<span
                                    class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <select class="form-control select2" id="medicineScheduleID" name="medicine_schedule[]">
                                    <option selected>Select Medicine Schedule</option>
                                    {% for item in medicine_schedule_data %}
                                    <option value="{{ item.id }}">{{ item.id }} . {{ item.schedule }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="frequencyID" class="col-md-3 col-form-label">Frequency :<span
                                    class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control select2" id="frequencyID" name="frequency[]" type="text">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="durationID" class="col-md-3 col-form-label">Duration :<span class="text-danger">*</span></label>
                            <div class="col-md-9">
                                <input class="form-control select2" id="durationID" name="duration[]" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-2"></div>
                    <div class="col-md-10">
                        <button type="button" class="btn btn-primary add-medicine-section float-right">Add More</button>
                    </div>
                </div>
                <button type="submit" class="btn btn-success float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'adminlte_assets/js/prescription-callback.js' %}"></script>
{% endblock %}

