{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark">
            <h1 class="card-title">Add Prescription</h1>
        </div>
        <div class="card-body">
            <form id="PostForm" action="{% url 'store_prescription' %}" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="issueDateID" class="col-md-3 col-form-label">Issue Date <span
                            class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <input name="issue_date" id="issueDateID" type="date" class="form-control">
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="specialtySelect" class="col-md-3 col-form-label">Patient Name <span
                            class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <select class="form-control select2" id="specialtySelect" name="patient_name">
                            <option selected>Select Patient Name</option>
                            {% for item in patient_data %}
                            <option value="{{ item.id }}">{{ item.id }} . {{ item.full_name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="chiefComplainID" class="col-md-3 col-form-label">Chief Complain</label>
                    <div class="col-md-9">
                        <textarea name="cc" id="chiefComplainID" type="text" class="form-control" cols="30"
                                  rows="2" placeholder="">{{ data.cc|default:"N/A" }}</textarea>
                        <div id="chiefComplainError" class="error-message"></div> <!-- Error message container -->
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="onExaminationID" class="col-md-3 col-form-label">On Examination</label>
                    <div class="col-md-9">
                        <textarea name="oe" id="onExaminationID" type="text" class="form-control" cols="30"
                                  rows="2">{{ data.oe|default:"N/A" }}</textarea>
                        <div id="onExaminationError" class="error-message"></div> <!-- Error message container -->
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="onExaminationID" class="col-md-3 col-form-label">Differential Diagnosis</label>
                    <div class="col-md-9">
                        <textarea name="dd" id="differentialDiagnosisID" type="text" class="form-control" cols="30"
                                  rows="2">{{ data.dd|default:"N/A" }}</textarea>
                        <div id="differentialDiagnosisError" class="error-message"></div>
                        <!-- Error message container -->
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="adviceID" class="col-md-3 col-form-label">Differential Diagnosis</label>
                    <div class="col-md-9">
                        <textarea name="ad" id="adviceID" type="text" class="form-control" cols="30"
                                  rows="2">{{ data.dd|default:"N/A" }}</textarea>
                        <div id="AdviceError" class="error-message"></div>
                        <!-- Error message container -->
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="treatmentListID" class="col-md-3 col-form-label">Treatment List</label>
                    <div class="col-md-9">
                        <textarea name="tl" id="treatmentListID" type="text" class="form-control" cols="30"
                                  rows="2">{{ data.dd|default:"N/A" }}</textarea>
                        <div id="treatmentListError" class="error-message"></div>
                        <!-- Error message container -->
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="pastMedicalHistoryID" class="col-md-3 col-form-label">Past Medical History</label>
                    <div class="col-md-9">
                        <textarea name="pmh" id="pastMedicalHistoryID" type="text" class="form-control" cols="30"
                                  rows="2">{{ data.dd|default:"N/A" }}</textarea>
                        <div id="pastMedicalHistoryError" class="error-message"></div>
                        <!-- Error message container -->
                    </div>
                </div>
                <button type="submit" class="btn btn-success float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}