{% extends 'dashboard/templates/patient/dashboard.html' %}
{% load static %}
{% block styles %}
<style>
    .signature-container {
        text-align: center;
    }
    #logo {
        background: url("{% static 'adminlte_assets/img/icon.png' %}") center center no-repeat;
         opacity: 0.5;
    }
</style>
{% endblock %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
                <div class="first-div">
                    <div class="float-left">
                        <h4>Doctor Name : {{ prescription_data.doctor_name }}</h4>
                        <h4>Department : {{ prescription_data.department }}</h4>
                        <h4>Doctor Name : {{ prescription_data.doctor_phone_no }}</h4>
                    </div>
                    <div class="float-right">
                        <h4>Hospital Name : Islamic Hospital</h4>
                        <h4>Hospital Address : New Dhaka</h4>
                        <h4>Code : 4111021</h4>
                        <h4>Phone : 01965572363,01943019803</h4>
                        <h4>Am 8:00 Close 10:00 pm</h4>
                    </div>
                </div>
                <div class="second-div">
                    Reg ID : {{ prescription_data.registration_no }}
                </div>

                <!--                    <div class="float-right">-->
                <!--                        <h6>Issue Date : {{ prescription_data.issue_date }}</h6>-->
                <!--                    </div>-->
                <!--                    <div class="signature-container float-right">-->
                <!--                        <h5>-&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h5>-->
                <!--                        <h5 class="signature">Signature</h5>-->
                <!--                    </div>-->
        </div>
        <div class="text-center">
            <!-- Add an id to the "Print" link for easier targeting with JavaScript -->
            <a href="#" id="print-button" class="btn btn-info">Print</a>
        </div>
        <br>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    // Find the "Print" link by its id
    const printButton = document.getElementById("print-button");

    // Add a click event listener to the link
    printButton.addEventListener("click", function (e) {
        e.preventDefault(); // Prevent the default link behavior (e.g., navigation)

        // Trigger the browser's print functionality
        window.print();
    });
</script>
{% endblock %}

