{% extends 'dashboard/templates/patient/dashboard.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header bg-dark text-white">
            <h2 class="card-title">Prescription Details</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>Issue Date:</th>
                        <td>{{ prescription_data.issue_date }}</td>
                    </tr>
                    <tr>
                        <th style="width: 30%;">Patient Name:</th>
                        <td>{{ prescription_data.patient_name }}</td>
                    </tr>
                    <tr>
                        <th style="width: 30%;">Doctor Name:</th>
                        <td>{{ prescription_data.doctor_name }}</td>
                    </tr>
                    <tr>
                        <th>Chief Complaint (CC):</th>
                        <td>{{ prescription_data.cc }}</td>
                    </tr>
                    <tr>
                        <th>On Examination (OE):</th>
                        <td>{{ prescription_data.oe }}</td>
                    </tr>
                    <tr>
                        <th>Diagnosis (DD):</th>
                        <td>{{ prescription_data.dd }}</td>
                    </tr>
                    <tr>
                        <th>Advice (AD):</th>
                        <td>{{ prescription_data.ad }}</td>
                    </tr>
                    <tr>
                        <th>Treatment Line (TL):</th>
                        <td>{{ prescription_data.tl }}</td>
                    </tr>
                    <tr>
                        <th>Past Medical History (PMH):</th>
                        <td>{{ prescription_data.pmh }}</td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th>Medicine Name:</th>
                        <td>
                            {% for medicine_name, medicine_schedule_time in medicines_with_schedule %}
                            {{ forloop.counter }} . {{ medicine_name }} ({{ medicine_schedule_time }})<br>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 30%;">Frequency:</th>
                        <td>
                            {% for medicine in prescription_data.medicine %}
                            {{ forloop.counter }} . {{ medicine.frequency }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <th style="width: 30%;">Duration:</th>
                        <td>
                            {% for medicine in prescription_data.medicine %}
                            {{ forloop.counter }} . {{ medicine.duration }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <table class="table table-bordered">
                    <tbody>
                    <tr>
                        <th style="width: 30%;">Labtest Name:</th>
                        <td>
                            {% for lab_test_name in prescription_data.lab_test_name %}
                            {{ forloop.counter }} . {{ lab_test_name }}<br>
                            {% endfor %}
                        </td>
                    </tr>
                    </tbody>
                </table>
                <br>
                <hr style="color: #000; background-color: #000; height: 2px; border: none;" class="float: right">
                -----------------------------------------------</h1>
            </div>
        </div>
    </div>
</div>
{% endblock %}

