{% extends 'landing_layout.html' %}
{% load static %}

{% block styles %}
<style>
    #article {
        background: url("{% static 'landing_assets/img/hero-bg.png' %}") center center no-repeat;
    }

    .image-container {
        position: relative;
        display: inline-block;
    }

    .image-popup {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 500px;
        z-index: 1;
    }
    .image-container:hover .image-popup {
        display: block;
    }






</style>
{% endblock %}

{% block content %}
<!-- ======= Articles Section ======= -->
<section id="about" class="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-6 justify-content-center position-relative">
                <img src="{{ all_data.image }}" alt="About Image" height="500px" width="100%">
            </div>
            <div class="col-6 justify-content-center">
                <h5>Tag : {{ all_data.tag }}</h5>
                <h4>Heading : {{ all_data.heading }}</h4>
                <p>Description : {{ all_data.description }}</p>
            </div>
        </div>
    </div>
</section>
<!-- End Articles Section -->
{% endblock %}

{% block scripts %}
{% endblock %}