{% extends 'admin/dashboard/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Data Details</h1>
            <h1 class="card-title float-right">
                <a href="{% url 'edit_doctor_form' doctor_all_data.id %}"
                   class="nav-link btn btn-warning float-right"
                   type="submit">Edit Profile</a>
            </h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-8">
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Doctor Name : </label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ doctor_all_data.full_name }}" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Father Name : </label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ doctor_all_data.father_name }}" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Mother Name : </label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ doctor_all_data.mother_name }}" readonly/>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Date of Birth : </label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ doctor_all_data.date_of_birth }}" readonly/>
                        </div>
                    </div>
                    <!-- Email -->
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Email : </label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ doctor_all_data.email }}" readonly/>
                        </div>
                    </div>
                    <!-- Phone Number -->
                    <div class="row mb-3">
                        <label class="col-md-3 col-form-label">Phone Number : </label>
                        <div class="col-md-9">
                            <input class="form-control" value="{{ doctor_all_data.phone_no }}" readonly/>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row mb-3">
                        <div class="col-md-12">
                            <img alt="Doctor Image" src="{{ doctor_all_data.images.0.doctor_photos }}"
                                 style="width: 100%; height: 280px;">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <legend class="text-info"><i class="far fa-address-card"></i> Personal Information</legend>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Gender :</label>
                <div class="col-md-4">
                    <input class="form-control" value="{{ doctor_all_data.gender }}" readonly/>
                </div>
                <label class="col-md-2 col-form-label">Religion :</label>
                <div class="col-md-4">
                    <input class="form-control" value="{{ doctor_all_data.religion }}" readonly/>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Blood Group : </label>
                <div class="col-md-4">
                    <input class="form-control" value="{{ doctor_all_data.blood_group }}" readonly/>
                </div>
                <label class="col-md-2 col-form-label">Matrimony Status : </label>
                <div class="col-md-4">
                    <input class="form-control" value="{{ doctor_all_data.matrimony }}" readonly/>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">NID No: </label>
                <div class="col-md-4">
                    <input class="form-control" value="{{ doctor_all_data.nid_no }}" readonly/>
                </div>
                <label class="col-md-2 col-form-label">Passport No : </label>
                <div class="col-md-4">
                    {% if doctor_all_data.passport_no %}
                    <input class="form-control" value=" {{ doctor_all_data.passport_no }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <legend class="text-info"><i class="far fa-address-card"></i> Permanent Address Details</legend>
                </div>
                <div class="col-md-6">
                    <legend class="text-info"><i class="far fa-address-card"></i> Present Address Details</legend>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Division :</label>
                <div class="col-md-4">
                    <input class="form-control"
                           value="{{ doctor_all_data.permanent_addresses.0.permanent_division.name }}" readonly/>
                </div>
                <label class="col-md-2 col-form-label">Division :</label>
                <div class="col-md-4">
                    <input class="form-control" value="{{ doctor_all_data.present_addresses.0.present_division.name }}"
                           readonly/>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">District : </label>
                <div class="col-md-4">
                    <input class="form-control"
                           value="{{ doctor_all_data.permanent_addresses.0.permanent_district.name }}" readonly/>
                </div>
                <label class="col-md-2 col-form-label">District : </label>
                <div class="col-md-4">
                    <input class="form-control" value="{{ doctor_all_data.present_addresses.0.present_district.name }}"
                           readonly/>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Upazila : </label>
                <div class="col-md-4">
                    <input class="form-control"
                           value="{{ doctor_all_data.permanent_addresses.0.permanent_upazila.name }}" readonly/>
                </div>
                <label class="col-md-2 col-form-label">Upazila : </label>
                <div class="col-md-4">
                    <input class="form-control" value="{{ doctor_all_data.present_addresses.0.present_upazila.name }}"
                           readonly/>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Village / State : </label>
                <div class="col-md-4">
                    <input class="form-control"
                           value="{{ doctor_all_data.permanent_addresses.0.permanent_village_state }}" readonly/>
                </div>
                <label class="col-md-2 col-form-label">Village / State : </label>
                <div class="col-md-4">
                    <input class="form-control" value="{{ doctor_all_data.present_addresses.0.present_village_state }}"
                           readonly/>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Postal Code : </label>
                <div class="col-md-4">
                    <input class="form-control"
                           value="{{ doctor_all_data.permanent_addresses.0.permanent_postal_code }}" readonly/>
                </div>
                <label class="col-md-2 col-form-label">Postal Code : </label>
                <div class="col-md-4">
                    <input class="form-control" value="{{ doctor_all_data.present_addresses.0.present_postal_code }}"
                           readonly/>
                </div>
            </div>
            <legend class="text-info">
                <i class="fas fa-user-graduate"></i> Education
            </legend>
            <hr>
            {% if doctor_all_data.education %}
            {% for education_obj in doctor_all_data.education %}
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Certificate/Degree : </label>
                <div class="col-md-4">
                    {% if education_obj.certificate_degree %}
                    <input class="form-control" value="{{ education_obj.certificate_degree }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Board Name : </label>
                <div class="col-md-4">
                    {% if education_obj.board %}
                    <input class="form-control" value="{{ education_obj.board }}" readonly/>

                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
                <label class="col-md-2 col-form-label">Institution : </label>
                <div class="col-md-4">
                    {% if education_obj.institution %}
                    <input class="form-control" value="{{ education_obj.institution }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Result : </label>
                <div class="col-md-4">
                    {% if education_obj.result %}
                    <input class="form-control" value="{{ education_obj.result }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
                <label class="col-md-2 col-form-label">Passing Year : </label>
                <div class="col-md-4">
                    {% if education_obj.passing_year %}
                    <input class="form-control" value="{{ education_obj.passing_year }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
            <hr>
            {% endfor %}
            {% else %}
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Certificate/Degree : </label>
                <div class="col-md-4">
                    <span class="badge badge-warning">Not Provided</span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Board Name : </label>
                <div class="col-md-4">
                    <span class="badge badge-warning">Not Provided</span>
                </div>
                <label class="col-md-2 col-form-label">Institution : </label>
                <div class="col-md-4">
                    <span class="badge badge-warning">Not Provided</span>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Result : </label>
                <div class="col-md-4">
                    <span class="badge badge-warning">Not Provided</span>
                </div>
                <label class="col-md-2 col-form-label">Passing Year : </label>
                <div class="col-md-4">
                    <span class="badge badge-warning">Not Provided</span>
                </div>
            </div>
            {% endif %}
            <legend class="text-info"><i class="far fa-edit"></i> Personal Skills</legend>
            <hr>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Experience: </label>
                <div class="col-md-4">
                    <input class="form-control" value="{{ doctor_all_data.experience }}" readonly/>
                </div>
                <label class="col-md-2 col-form-label">Languages Spoken : </label>
                <div class="col-md-4">
                    <input class="form-control" value="{{ doctor_all_data.languages_spoken }}" readonly/>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Specialty: </label>
                <div class="col-md-4">
                    <input class="form-control" value="{{ doctor_all_data.department }}" readonly/>
                </div>
                <label class="col-md-2 col-form-label">Biography : </label>
                <div class="col-md-4">
                    {% if doctor_all_data.biography %}
                    <input class="form-control" value=" {{ doctor_all_data.biography }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <legend class="text-info"><i class="fab fa-servicestack"></i> Availability</legend>
                </div>
                <div class="col-md-6">
                    <legend class="text-info"><i class="fas fa-award"></i> Awards</legend>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Appointment :</label>
                <div class="col-md-4">
                    {% if doctor_all_data.availability.0.appointment_availability %}
                    <input class="form-control" value="{{ doctor_all_data.availability.0.appointment_availability }}"
                           readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
                <label class="col-md-2 col-form-label">Awards And Honors :</label>
                <div class="col-md-4">
                    {% if doctor_all_data.awards.0.awards_and_honors %}
                    <input class="form-control" value="{{ doctor_all_data.awards.0.awards_and_honors }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Accepting Patients :</label>
                <div class="col-md-4">
                    {% if doctor_all_data.availability.0.accepting_new_patients %}
                    <input class="form-control" value="{{ doctor_all_data.availability.0.accepting_new_patients }}"
                           readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>

                <label class="col-md-2 col-form-label">Board Certifications :</label>
                <div class="col-md-4">
                    {% if doctor_all_data.awards.0.board_certification_number %}
                    <input class="form-control" value="{{ doctor_all_data.awards.0.board_certification_number }}"
                           readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Average Wait Time :</label>
                <div class="col-md-4">
                    {% if doctor_all_data.availability.0.average_wait_time %}
                    <input class="form-control" value="{{ doctor_all_data.availability.0.average_wait_time }}"
                           readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>

                <label class="col-md-2 col-form-label">Publications :</label>
                <div class="col-md-4">
                    {% if doctor_all_data.awards.0.publications %}
                    <input class="form-control" value="{{ doctor_all_data.awards.0.publications }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Consultation Fee :</label>
                <div class="col-md-4">
                    {% if doctor_all_data.availability.0.consultation_fee %}
                    <input class="form-control" value="{{ doctor_all_data.availability.0.consultation_fee }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>

                <label class="col-md-2 col-form-label">Research Interests :</label>
                <div class="col-md-4">
                    {% if doctor_all_data.awards.0.research_interests %}
                    <input class="form-control" value="{{ doctor_all_data.awards.0.research_interests }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Available Facilities :</label>
                <div class="col-md-4">
                    {% if doctor_all_data.availability.0.available_facilities %}
                    <input class="form-control" value="{{ doctor_all_data.availability.0.available_facilities }}"
                           readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>

                <label class="col-md-2 col-form-label">Memberships :</label>
                <div class="col-md-4">
                    {% if doctor_all_data.awards.0.memberships %}
                    <input class="form-control" value="{{ doctor_all_data.awards.0.memberships }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-6">
                    <legend class="text-info"><i class="fab fa-servicestack"></i> Services</legend>
                </div>
                <div class="col-md-6">
                    <legend class="text-info"><i class="fab fa-linkedin"></i> Social Media</legend>
                </div>
            </div>
            <hr>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Treatments : </label>
                <div class="col-md-4">
                    {% if doctor_all_data.services.0.treatments %}
                    <input class="form-control" value="{{ doctor_all_data.services.0.treatments }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
                <label class="col-md-2 col-form-label">Website : </label>
                <div class="col-md-4">
                    {% if doctor_all_data.social_media.0.website %}
                    <input class="form-control" value="{{ doctor_all_data.social_media.0.website }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Procedures : </label>
                <div class="col-md-4">
                    {% if doctor_all_data.services.0.procedures %}
                    <input class="form-control" value="{{ doctor_all_data.services.0.procedures }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
                <label class="col-md-2 col-form-label">Linkedin : </label>
                <div class="col-md-4">
                    {% if doctor_all_data.social_media.0.linkedin %}
                    <input class="form-control" value="{{ doctor_all_data.social_media.0.linkedin }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Hours : </label>
                <div class="col-md-4">
                    {% if doctor_all_data.services.0.hours %}
                    <input class="form-control" value="{{ doctor_all_data.services.0.hours }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
                <label class="col-md-2 col-form-label">Facebook : </label>
                <div class="col-md-4">
                    {% if doctor_all_data.social_media.0.facebook %}
                    <input class="form-control" value="{{ doctor_all_data.social_media.0.facebook }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-2 col-form-label">Location : </label>
                <div class="col-md-4">
                    {% if doctor_all_data.services.0.location %}
                    <input class="form-control" value="{{ doctor_all_data.services.0.location }}" readonly/>
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
                <label class="col-md-2 col-form-label">Instagram : </label>
                <div class="col-md-4">
                    {% if doctor_all_data.social_media.0.instagram %}
                    <input class="form-control" value="{{ doctor_all_data.social_media.0.instagram }}" readonly/>
<!--                    <a href="{{ doctor_all_data.social_media.0.instagram }}"><i class="fas fa-instagram-square"></i></a>-->
                    {% else %}
                    <span class="badge badge-warning">Not Provided</span>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}