{% extends 'templates/admin_layout.html' %}
{% load static %}
{% block content %}
<div class="container mt-4">
    <h1>Department Sepecificatiion Data table</h1>
    <div class="card">
        <div class="card-body">
            <table id="dataTable" class="table">
                <thead>
                    <th>Id</th>
                    <th>Department Name</th>
                    <th>Specification</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </thead>
                <tbody>
                    {% for data in datas %}
                    <tr>
                        <td>{{ data.id }}</td>
                        <td>{{ data.department_name }}</td>
                        <td>{{ data.specification }}</td>
                        <td>{{ data.description }}</td>
                        <td>
                            <button class="btn btn-sm btn-danger">
                                <i class="fas fa-edit"></i>Edit
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-sm btn-danger">
                                <i class="fas fa-trash"></i>Delete
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <th>Id</th>
                    <th>Department Name</th>
                    <th>Specification</th>
                    <th>Description</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tfoot>
            </table>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/api/department/specification/list/",
            method: "GET",
            success: function (data) {
                var table = $("#dataTable").DataTable({
                    data: data,
                    columns: [
                        { data: "id" },
                        { data: "department" },
                        { data: "specification" },
                        { data: "description" },
                        {
                            data: null,
                            render: function () {
                                return '<button class="btn btn-sm btn-info"><i class="fas fa-edit"></i></button>';
                            }
                        },
                        {
                            data: null,
                            render: function () {
                                return '<button class="btn btn-sm btn-danger"><i class="fas fa-trash"></i></button>';
                            }
                        }
                    ]
                });
            }
        });
    });
</script>
{% endblock %}