{% extends 'admin/dashboard/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-header">
            <h1 class="card-title">Organ Problem Data Details</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3"><strong>Organ Name:</strong></div>
                <div class="col-md-9">{{ organ_problem_specification_data.organ }}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>Problem :</strong></div>
                <div class="col-md-9">{{ organ_problem_specification_data.problem }}</div>
            </div>
            <div class="row">
                <div class="col-md-3"><strong>Problem Specification :</strong></div>
                <div class="col-md-9">{{ organ_problem_specification_data.problem_specification }}</div>
            </div>
        </div>
    </div>
</div>
{% endblock %}