{% extends 'landing_layout.html' %}
{% load static %}

{% block styles %}
<style>
    #login {
        background: url("{% static 'landing_assets/img/hero-bg.png' %}") center center no-repeat;
    }

</style>

{% endblock %}

{% block content %}
<!-- ======= Login Section ======= -->
<section id="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <img src="{% static 'landing_assets/img/gummy-medical-lab.png' %}" class="img-fluid"
                     style="width: 100%; height: 90%;">
            </div>
            <div class="col-md-5">
                <div style="padding-top: 16% !important;"></div>
                <form action="{% url 'change_password' %}" autocomplete="off" id="PostForm" method="POST">
                    {% csrf_token %}
                    <div class="card bg-transparent">
                        <div class="card-header bg-transparent">
                            <h4 class="card-title text-center">Change your Password</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group mb-3">
                                <input type="password" class="form-control" name="password" id="passwordId"
                                       placeholder="Password" required>
                            </div>
                            <div class="form-group mb-3">
                                <input type="password" class="form-control" name="confirm_password"
                                       id="confirmPasswordId" placeholder="Confirm Password" required>
                            </div>
                            <div class="card-footer bg-transparent">
                                <div class="text-center mb-3">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent">
                                <h6>If you don't want to change your password <a href="{% url 'login' %}">Login Here</a>
                                </h6>
                            </div>
                        </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Login Section -->
{% endblock %}

{% block scripts %}
{% endblock %}