{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <form action="{% url 'store_new_email' %}" id="PostForm" method="POST"
                  class="needs-validation" novalidate onsubmit="return validateForm()">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="oldEmailID" class="col-md-2 col-form-label">Old Email : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <input class="form-control" id="oldEmailID" name="email" type="email" placeholder="Old Email"
                               required/>
                        <div class="error-message-old-email invalid-feedback"></div>
                        <div class="invalid-feedback">Please enter old valid email address.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="newEmailID" class="col-md-2 col-form-label">New Email : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <input class="form-control" id="newEmailID" name="new_email" type="email"
                               placeholder="New Email" required/>
                        <div class="error-message-email invalid-feedback"></div>
                        <div class="invalid-feedback">Please enter new valid email address.</div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="passwordID" class="col-md-2 col-form-label">Password : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-10">
                        <div class="input-group">
                            <input class="form-control password-field" id="passwordID" name="password" type="password"
                                   placeholder="Password" required/>
                            <span class="input-group-text toggle-password bg-transparent"
                                  data-target="passwordID"><i class="fas fa-eye-slash"></i>
                            </span>
                            <div class="error-message-password invalid-feedback"></div>
                            <div class="invalid-feedback">Please enter your password.</div>
                        </div>

                    </div>
                </div>
                <button type="submit" class="btn btn-success float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
        });
     });
    document.addEventListener('DOMContentLoaded', function() {
        const togglePasswordIcons = document.querySelectorAll('.toggle-password');
        const oldEmailField = document.getElementById('oldEmailID');
        const newEmailField = document.getElementById('newEmailID');
        const passwordField = document.getElementById('passwordID');
        const errorOldEmailMessage = document.querySelector('.error-message-old-email');
        const errorEmailMessage = document.querySelector('.error-message-email');
        const errorPasswordMessage = document.querySelector('.error-message-password');

        // Event listener for old email field
        oldEmailField.addEventListener('input', function() {
            errorOldEmailMessage.textContent = '';
        });

        // Event listener for new email field
        newEmailField.addEventListener('input', function() {
            errorEmailMessage.textContent = '';
        });

        // Event listener for password field
        passwordField.addEventListener('input', function() {
            errorPasswordMessage.textContent = '';
        });

        togglePasswordIcons.forEach(function(icon) {
            icon.addEventListener('click', function() {
                const targetId = icon.dataset.target;
                const field = document.getElementById(targetId);

                const type = field.getAttribute('type') === 'password' ? 'text' : 'password';
                field.setAttribute('type', type);

                // Toggle eye icon
                icon.innerHTML = type === 'password' ? '<i class="fas fa-eye-slash"></i>' : '<i class="fas fa-eye"></i>';
            });
        });
    });

    function validateForm() {
        const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
        const oldEmailField = document.getElementById('oldEmailID');
        const newEmailField = document.getElementById('newEmailID');
        const passwordField = document.getElementById('passwordID');
        const errorOldEmailMessage = document.querySelector('.error-message-old-email');
        const errorEmailMessage = document.querySelector('.error-message-email');
        const errorPasswordMessage = document.querySelector('.error-message-password');

        let hasErrors = false;

        // Reset error messages
        errorOldEmailMessage.textContent = '';
        errorEmailMessage.textContent = '';
        errorPasswordMessage.textContent = '';

        // Email validation for old email
        if (oldEmailField.value.trim() === '') {
            errorOldEmailMessage.textContent = 'Email cannot be empty';
            hasErrors = true;
        } else if (!emailRegex.test(oldEmailField.value)) {
            errorOldEmailMessage.textContent = 'Invalid email format';
            hasErrors = true;
        }

        // Email validation for new email
        if (newEmailField.value.trim() === '') {
            errorEmailMessage.textContent = 'Email cannot be empty';
            hasErrors = true;
        } else if (!emailRegex.test(newEmailField.value)) {
            errorEmailMessage.textContent = 'Invalid email format';
            hasErrors = true;
        }

        // Password validation
        if (passwordField.value.trim() === '') {
            errorPasswordMessage.textContent = 'Password cannot be empty';
            hasErrors = true;
        }
        return !hasErrors;
    }
</script>
{% endblock %}
