{% extends 'landing_layout.html' %}
{% load static %}

{% block styles %}
<style>
    #login {
        background: url("{% static 'landing_assets/img/hero-bg.png' %}") center center no-repeat;
    }
</style>
{% endblock %}

{% block content %}
<!-- ======= Login Section ======= -->
<section id="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <img src="{% static 'landing_assets/img/gummy-medical-lab.png' %}" class="img-fluid"
                     style="width: 100%; height: 90%;">
            </div>
            <div class="col-md-5">
                <div style="padding-top: 16% !important;"></div>
                <form action="{% url 'change_password' %}" autocomplete="off" id="PostForm" method="POST">
                    {% csrf_token %}
                    <div class="card bg-transparent">
                        <div class="card-header bg-transparent">
                            <h4 class="card-title text-center">Change your Password</h4>
                        </div>
                        <div class="card-body">
                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input class="form-control password-field" id="passwordID" name="password"
                                               type="password" placeholder="Password"/>
                                        <span class="input-group-text toggle-password bg-transparent"
                                              data-target="passwordID"><i class="fas fa-eye-slash"></i></span>
                                    </div>
                                    <div class="pass-error-message" style="color: red;"></div>
                                </div>
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-12">
                                    <div class="input-group">
                                        <input class="form-control password-field" id="conPasswordID"
                                               name="con_password" type="password" placeholder="Confirm Password"/>
                                        <span class="input-group-text toggle-password bg-transparent"
                                              data-target="conPasswordID"><i class="fas fa-eye-slash"></i></span>
                                    </div>
                                    <div class="con-pass-error-message" style="color: red;"></div>
                                </div>
                            </div>

                            <div class="card-footer bg-transparent">
                                <div class="text-center mb-3">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                </div>
                            </div>
                            <div class="card-footer bg-transparent">
                                <h6>If you don't want to change your password <a href="{% url 'login' %}">Login Here</a>
                                </h6>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Login Section -->
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const togglePasswordIcons = document.querySelectorAll('.toggle-password');
        const passwordField = document.getElementById('passwordID');
        const conPasswordField = document.getElementById('conPasswordID');
        const form = document.getElementById('PostForm');
        const errorMessage = document.querySelector('.con-pass-error-message');
        const passwordErrorMessage = document.querySelector('.pass-error-message');

        togglePasswordIcons.forEach(function(icon) {
            icon.addEventListener('click', function() {
                const targetId = icon.dataset.target;
                const field = document.getElementById(targetId);

                const type = field.getAttribute('type') === 'password' ? 'text' : 'password';
                field.setAttribute('type', type);

                // Toggle eye icon
                icon.innerHTML = type === 'password' ? '<i class="fas fa-eye-slash"></i>' : '<i class="fas fa-eye"></i>';
            });
        });

        // Function to clear error messages for password
        const clearPasswordError = function() {
            passwordErrorMessage.textContent = '';
        };

        // Function to clear error messages for confirm password
        const clearConfirmPasswordError = function() {
            errorMessage.textContent = '';
        };

        // Event listener for input on password field
        passwordField.addEventListener('input', function() {
            clearPasswordError();
        });

        // Event listener for input on confirm password field
        conPasswordField.addEventListener('input', function() {
            clearConfirmPasswordError();
        });

        form.addEventListener('submit', function(event) {
            let hasErrors = false;

            // Reset error messages
            passwordErrorMessage.textContent = '';
            errorMessage.textContent = '';

            // Password validation
            if (passwordField.value.trim() === '') {
                passwordErrorMessage.textContent = 'Password cannot be empty';
                hasErrors = true;
            }

            // Confirm Password validation
            if (conPasswordField.value.trim() === '') {
                errorMessage.textContent = 'Confirm Password cannot be empty';
                hasErrors = true;
            } else if (passwordField.value !== conPasswordField.value) {
                errorMessage.textContent = 'Passwords do not match!';
                hasErrors = true;
            }
            if (hasErrors) {
                event.preventDefault(); // Prevent form submission if there are errors
            }
        });
    });
</script>
{% endblock %}

