{% extends 'landing_layout.html' %}
{% load static %}

{% block styles %}
<style>
    #login {
        background: url("{% static 'landing_assets/img/hero-bg.png' %}") center center no-repeat;
    }
</style>
{% endblock %}

{% block content %}
<!-- ======= Login Section ======= -->
<section id="login">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 mt-5">
                <img src="{% static 'landing_assets/img/forget_password.png' %}" class="img-fluid"
                     style="width: 100%; height: 90%;">
            </div>
            <div class="col-md-5">
                <div style="padding-top: 16% !important;"></div>
                <form action="{% url 'forget_password' %}" autocomplete="off" id="PostForm" method="POST"
                      class="needs-validation" novalidate>
                    {% csrf_token %}
                    <div class="card bg-transparent">
                        <div class="card-header bg-transparent">
                            <h4 class="card-title text-center">Find Your Account</h4>
                        </div>
                        <div class="card-body">
                            <div class="form-group mb-3">
                                <input type="email" class="form-control" name="email" id="emailId"
                                       placeholder="Enter your email" required>
                                <div class="error-message invalid-feedback"></div>
                                <div class="invalid-feedback">Please enter your valid email.</div>
                            </div>
                        </div>
                        <div class="card-footer bg-transparent">
                            <div class="text-center mb-3">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- End Login Section -->
{% endblock %}
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const emailField = document.getElementById('emailId');
        const form = document.getElementById('PostForm');
        const errorMessage = document.querySelector('.error-message');

        // Function to clear error messages for email
        const clearErrorMessage = function() {
            errorMessage.textContent = '';
        };

        // Event listener for input on email field
        emailField.addEventListener('input', function() {
            clearErrorMessage();
        });

        form.addEventListener('submit', function(event) {
            let hasErrors = false;

            errorMessage.textContent = '';

            // Email validation
            if (emailField.value.trim() === '') {
                errorMessage.textContent = 'Email cannot be empty';
                hasErrors = true;
            }

            if (hasErrors) {
                event.preventDefault(); // Prevent form submission if there are errors
            }
        });
    });
    $(document).ready(function () {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.querySelectorAll('.needs-validation');

        // Loop over them and prevent submission
        Array.prototype.slice.call(forms)
            .forEach(function (form) {
                form.addEventListener('submit', function (event) {
                    if (!form.checkValidity()) {
                        event.preventDefault();
                        event.stopPropagation();
                    }
                    form.classList.add('was-validated');
                }, false);
        });
     });
</script>
{% endblock %}
