{% extends 'dashboard/templates/admin/admin_layout.html' %}
{% load static %}

{% block content %}
<div class="container mt-4">
    <div class="card">
        <div class="card-body">
            <form action="{% url 'store_new_password' %}" id="PostForm" method="POST">
                {% csrf_token %}
                <div class="row mb-3">
                    <label for="oldPasswordID" class="col-md-3 col-form-label">Old Password : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input class="form-control password-field" id="oldPasswordID" name="password"
                                   type="password"/>
                            <span class="input-group-text toggle-password bg-transparent" data-target="oldPasswordID">
                                <i class="fas fa-eye-slash"></i>
                            </span>
                        </div>
                        <div class="old-pass-error-message" style="color: red;"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="newPasswordID" class="col-md-3 col-form-label">New Password : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input class="form-control password-field" id="newPasswordID" name="new_password"
                                   type="password"/>
                            <span class="input-group-text toggle-password bg-transparent" data-target="newPasswordID">
                                <i class="fas fa-eye-slash"></i>
                            </span>
                        </div>
                        <div class="new-pass-error-message" style="color: red;"></div>
                    </div>
                </div>
                <div class="row mb-3">
                    <label for="conPasswordID" class="col-md-3 col-form-label">Confirm Password : <span
                            class="text-danger">*</span></label>
                    <div class="col-md-9">
                        <div class="input-group">
                            <input class="form-control password-field" id="conPasswordID" name="con_password"
                                   type="password"/>
                            <span class="input-group-text toggle-password bg-transparent" data-target="conPasswordID">
                                <i class="fas fa-eye-slash"></i>
                            </span>
                        </div>
                        <div class="con-pass-error-message" style="color: red;"></div>
                    </div>
                </div>

                <br><br>
                <button type="submit" class="btn btn-success float-right">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const togglePasswordIcons = document.querySelectorAll('.toggle-password');
        const oldPasswordField = document.getElementById('oldPasswordID');
        const newPasswordField = document.getElementById('newPasswordID');
        const conPasswordField = document.getElementById('conPasswordID');

        const form = document.getElementById('PostForm');

        const oldPasswordErrorMessage = document.querySelector('.old-pass-error-message');
        const newPasswordErrorMessage = document.querySelector('.new-pass-error-message');
        const conPasswordErrorMessage = document.querySelector('.con-pass-error-message');

        // Function to clear error messages
        const clearErrorMessages = function() {
            oldPasswordErrorMessage.textContent = '';
            newPasswordErrorMessage.textContent = '';
            conPasswordErrorMessage.textContent = '';
        };

        // Function to handle input field focus and clear error message
        const handleInputFocus = function(inputField, errorMessage, otherField) {
            inputField.addEventListener('input', function() {
                errorMessage.textContent = '';
                // If there's a matching field, clear its error message as well
                if (otherField && otherField.value === inputField.value) {

                        otherField.nextElementSibling.textContent = '';

                }
            });
        };

        togglePasswordIcons.forEach(function(icon) {
            icon.addEventListener('click', function() {
                const targetId = icon.getAttribute('data-target');
                const field = document.getElementById(targetId);

                const type = field.getAttribute('type') === 'password' ? 'text' : 'password';
                field.setAttribute('type', type);
                // Toggle eye icon
                icon.innerHTML = type === 'password' ? '<i class="fas fa-eye-slash"></i>' : '<i class="fas fa-eye"></i>';
            });
        });

        // Add focus event listeners to clear error messages
        handleInputFocus(oldPasswordField, oldPasswordErrorMessage);
        handleInputFocus(newPasswordField, newPasswordErrorMessage);
        handleInputFocus(conPasswordField, conPasswordErrorMessage);

        // Event listener to clear error message when new password and confirm password match
        [newPasswordField, conPasswordField].forEach(function(field) {
            field.addEventListener('input', function() {
                if (newPasswordField.value === conPasswordField.value) {
                    conPasswordErrorMessage.textContent = '';
                }
            });
        });

        form.addEventListener('submit', function(event) {
            let hasErrors = false;

            // Reset error messages
            clearErrorMessages();

            // Password validation
            if (oldPasswordField.value.trim() === '') {
                oldPasswordErrorMessage.textContent = 'Old Password cannot be empty';
                hasErrors = true;
            }

            // New Password validation
            if (newPasswordField.value.trim() === '') {
                newPasswordErrorMessage.textContent = 'New Password cannot be empty';
                hasErrors = true;
            }

            // Confirm Password validation
            if (conPasswordField.value.trim() === '') {
                conPasswordErrorMessage.textContent = 'Confirm Password cannot be empty';
                hasErrors = true;
            } else if (newPasswordField.value !== conPasswordField.value) {
                conPasswordErrorMessage.textContent = 'Passwords do not match!';
                hasErrors = true;
            }

            if (hasErrors) {
                event.preventDefault(); // Prevent form submission if there are errors
            }
        });
    });
</script>
{% endblock %}
